<!doctype html>
<html class="no-js" mlns:th="http://www.thymeleaf.org">

<!--
	TODO:
		- Thymeleaf einarbeiten
		- Kommentare löschen
-->
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="content-type" content="text/html"/>
		
		<title th:text="${title}">Refugee App</title>
		
		<link rel="stylesheet" href="../resources/css/foundation.css"/>
		<link rel="stylesheet" href="../resources/css/app.css"/>
		<script src="../resources/js/vendor/modernizr.js"></script>
	</head>
	
	<body th:each="content : ${offers}" >
		<div th:include="navigation :: navigation"></div>
		
		<div class="show-for-small-only">
			<div th:include="item_single-small :: item">
			</div>
		</div>
		
		<div class="hide-for-small-only">
			<div th:include="item_single-big :: item">
			</div>
		</div>		
		
		<script src="../resources/js/vendor/jquery.js"></script>
		<script src="../resources/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>