<!DOCTYPE html>

<html class="no-js" lang="de">

<!--
	TODO:
		- Navigation weiter anpassen
			+ weiter Links hinzufügen
		- Template mehr zum Template ausbauen
		- Variablen hinzufügen
		- th:href Mapping festlegen.
		- Kommentare löschen
-->

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<title th:text="${title}">Refugee App</title>
		
		<link rel="stylesheet" href="../resources/css/foundation.css"/>
		<link rel="stylesheet" href="../resources/css/app.css"/>
		<script src="../resources/js/vendor/modernizr.js"></script>
	</head>
	
	<body>
		<div th:fragment="navigation">
			<nav class="top-bar" data-topbar="" role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a href="./home.html">My Site</a></h1>
					</li>
				
					
					
					<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					<li class="toggle-topbar menu-icon">
						<a href="#"><span>Menu</span></a>
					</li>
				</ul>
			
			
				<section class="top-bar-section">
				<!-- Right Nav Section -->
					<ul class="right">
					
						<li>
							<div th:include="search :: search1"></div>
						</li>
						<li>
							<div th:include="search :: search2"></div>
						</li>
						
						
						<li>
							<div th:include="search :: search"></div>
						</li>
						
						<li>
							<a th:href="@{/offer}" href="./offer.html">Offer</a>
						</li>
						
						<li class="has-dropdown">
							<a sec:authorize="isAuthenticated()" th:text="${#authentication?.name}">
								Mein Account
							</a>
							
							<ul class="dropdown">

								<li sec:authorize="hasRole('ROLE_ADMIN')">
									<a th:href="@{/userDetails}" >Kundenliste</a>
								</li>
								
								<li sec:authorize="hasRole('ROLE_NORMAL')">
									<a th:href="@{/data}" > Eigene Daten</a>
								</li>
								
								<li sec:authorize="!isAuthenticated()">
									<a th:href="@{/login}" >Login</a>
								</li>
								
								<li sec:authorize="isAuthenticated()">
									<form th:action="@{/logout}" method="post">
										<input class="button" type="submit" value="Logout" />
									</form>
								</li>
							</ul>
						</li>
					</ul>

				<!-- Left Nav Section -->
					<ul class="left">
						
					</ul>
				</section>
			</nav>
		</div>

		<script src="../resources/js/vendor/jquery.js"></script>
		<script src="../resources/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>