<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="content-type" content="text/html"/>
		
		<title> Offer </title>
		
		<link rel="stylesheet" href="css/foundation.css"/>
		<link rel="stylesheet" href="css/app.css"/>
		<script src="js/vendor/modernizr.js"></script>
    </head>
    <body>
		<div class = "row">
			<div class = "large-12 columns">
				<div class="create">
					<h1 class="create__title"> Good </h2>
					
					<form th:action="@{/offeredGood}" method="post">
						<div>
							<label class="create__label"> Name :</label> 
							<input type="text" name="name"/>
						</div>
						
						<div>
							<label class="create__label"> Description:</label>
							<input type="text" name="description"/>
						</div>
						
						<div>
							<label class="create__label"> Tags:</label>
							<input type="text" name="tags"/> 
						</div>
						
						<div>
							<input class="button" type="submit" value="Offer"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="js/vendor/jquery.js"></script>
		<script src="js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>
    </body>
</html>