<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="content-type" content="text/html"/>
		
		<title>Offered good</title>
		
		<link rel="stylesheet" href="../resources/css/foundation.css"/>
		<link rel="stylesheet" href="../resources/css/app.css"/>
		<script src="../resources/js/vendor/modernizr.js"></script>
	</head>

	<body>
		<div class="row">
			<div class="small-12 colums">
				<div class="offered">
					<div>
						<h2 class="offered__title"> You just offered this good: </h2>
					</div>
					<div id="good">			
						<div class="panel-body">
						
							<div>
								<label class="offered__label"> Name </label>
								<p th:text="${result.name}" class="offered__text">Lorem ipsum</p>
							</div>
							
							<div>
								<label class="offered__label"> Description </label>
								<p th:text="${result.description}" class="offered__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
							</div>
							
							<div>
								<label class="offered__label"> Tags </label>
								<p th:text="${result.tags}" class="offered__text">Lorem</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../resources/js/vendor/jquery.js"></script>
		<script src="../resources/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>