<html  xmlns:th="http://www.thymeleaf.org">
<body>
<form action="/new_user_aboutuser1" method="post">
  <h3>Create New User</h3>
  <p>EMail:</p>
  <p>
    <input name="mail" type="text"/>
  </p>
  <p>Username:</p>
  <p>
    <input name="username" type="text"/>
  </p>
  <p>Password:</p>
  <p>
    <input name="password" type="password"/>
  </p>
  <p>Repeate Password:</p>
  <p>
    <input name="repassword" type="password"/>
  </p>
  <p>
  After creating the new user please wait for the Validation-Mail an then login again.
  </p>
  <input type="submit" value="Create User"/>
</form>
</body>
</html>