<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head th:include="imports :: head">
		<title th:text="${title}">User</title>
	</head>
	
	<body th:include="imports :: script">
	
		<div class="row">
			<div class="small-12 colums">
				<div>
				
					<header>
						<h1>Kundendaten</h1>
					</header>
					
					<div>
						<ul>
							<li sec:authorize="!isAuthenticated()" ><a th:href="@{/login}" >Login</a></li>

							<li sec:authorize="isAuthenticated()">
								<form th:action="@{/logout}" method="post">
									<input class="button" type="submit" value="Logout" />
								</form>
							</li>
						</ul>
					
						<h4 sec:authorize="!hasRole('ROLE_NORMAL')">Login notwendig</h4>
						
						
						<table sec:authorize="hasRole('ROLE_NORMAL')">			
							<thead>
								<tr>
									<th>Firstname</th>
									<th>Lastname</th>
									<th>Email</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td th:text="${userAccount.firstname}">Hans</td>
									<td th:text="${userAccount.lastname}">Mueller</td>
									<td th:text="${userAccount.email}">email</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
		
	</body>
	
</html>