<!doctype html>
<html class="no-js" mlns:th="http://www.thymeleaf.org">

<!--
	TODO:
		- Thymeleaf einarbeiten
		- Kommentare löschen
-->
	
	<head th:include="imports :: head">
	
	</head>
	
	<body th:include="imports :: script">
	
		<div th:include="navigation :: navigation"></div>
		
		<div class="show-for-small-only">
			<div th:include="item_single--small :: item">
			</div>
		</div>
		
		<div class="hide-for-small-only">
			<div th:include="item_single--big :: item">
			</div>
		</div>		
		
	</body>
	
</html>