<html  xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action="@{/submit_userdata1/user/} + ${user}" method="post">
  <h3 th:text="@{About You: &nbsp; } + ${user}"> ABOUT</h3>
  <p>Name:</p>
  <p>
    <input name="name" type="text"/>
  </p>
  <p>First Name:</p>
  <p>
    <input name="firstname" type="text"/>
  </p>
  <p>Wohnungstyp</p>
  <p>
    <select name="Adresstyp" size="2" >
      <option>Refugees_home</option>
      <option>Wohnung</option>
    </select>
  </p>

  <input type="submit" value="Next"/>
</form>
</body>
</html>