<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Search </title>
        <meta http-equiv="Content-Type" content="context/html; charset=UTF-8" />
    </head>
    <body>
        <form th:action="@{/searchResultsByName}" method="post">
        	<h2> Search a good by its name</h2>
            <div><label> Name: <input type="text" name="name"/> </label></div>
	        <br></br>
	        <div><input type="submit" value="Search"/></div>
        </form>
        <br></br>
        <form th:action="@{/searchResultsByTag}" method="post">
        	<h2> Search a good by one of its tags</h2>
            <div><label> Tag: <input type="text" name="tag"/> </label></div>
	        <br></br>
	        <div><input type="submit" value="Search"/></div>
        </form>
    </body>
</html>