/*******************************************\
*			by Lennart Schmidt		 		*
\*******************************************/

/********************************************
*	Other									*
********************************************/
.tags__heigth{
	height: 10.5rem;
	overflow: hidden
}

/********************************************
*	Um Formulare in der Navigation korrekt	*
*	anzuzeigen								*
********************************************/
.has-form {
	top: 0;
	left: 6rem;
	min-width: 14rem; 
}
@media only screen and (max-width: 40em){
	.has-form {
		min-width: 10rem;
		top: 0.5rem; 
	}
	.has-form .button {
		height: 1.85rem; 
	} 
}

/********************************************
*	Item Design								*
********************************************/
@media only screen {
	.itemN{
		background-color: white;
		outline-style: solid;
		outline-width: 1px; 
		outline-color: lightgray;
		overflow: hidden;
		height: 19rem;
	}
	.itemN__container{
		overflow: hidden;
		height: 22rem; 
	}
	.itemN__img{
		width: 100%;
		margin-top: -10%;
		height: 9rem;
		overflow: hidden;
	}
}

@media only screen and (min-width: 40.0625em){
	.itemN{
		background-color: white;
		outline-style: solid;
		outline-width: 1px; 
		outline-color: lightgray;
		overflow: hidden;
		height: 16rem;
	}
	.itemN__container{
		margin-bottom: 0.1rem;
		overflow: hidden;
		height: 11rem; 
	}
	.itemN__img{
		width: 100%;
		height: 11rem;
		overflow: hidden;
	}
}
.itemN__headlinecontainer{
	overflow: hidden;
	padding-left: 1rem;
	height: 3rem;
}
.itemN-left{
	float:left;
}
.itemN-right{
	float:right;
}
.itemN-bottom{
	background-color: white;
	padding:0 1rem 0 1rem;
	height: 1.9rem;
	width: 94%;
	position: absolute;
	overflow: hidden;
	bottom: 0.1rem;
}
.itemN__link{
	color: black;
	
}
.itemN__link:hover{
	background-color:yellow;
	color: darkblue;
	outline-style: solid;
	outline-width: 2px; 
	outline-color: blue;
}

/********************************************
*	Zeitenübergreifendes Design der			*
*	Schrifft Buttons						*
*	with modifyer for Text and Button		*
*	positions.								*
********************************************/
p{
	margin: 0; 
	padding:0;
}
.headline{
	font-size: 2.0rem;
}
.headline-sub{
	font-size: 1.5rem;
}
.headline-super{
	font-size: 2.5rem;
}
.text{
	font-size: 1rem;
}
.text-mega{
	font-size: 1.4rem;
}
.text-super{
	font-size: 1.2rem;
}
.text-sub{
	font-size:0.8rem;
}
.text-right{
	font-size: 1rem;
	text-align: right;
}
.text-super-right{
	font-size: 1.2rem;
	text-align: right;
}
.text-sub-right{
	font-size:0.8rem;
	text-align: right;
}
.button__link{
	color: white;
}
.button-right{
	float: right;
}
.button-left{
	float: left;
}
.link{
	font-size: 1rem;
	padding: 1rem 0 0 0;
}
.link-right{
	font-size: 1rem;
	text-align: right;
	padding: 1rem 0 0 0;
}
.error{
	color: red;
	font-size: 1rem;
}
.left{
	text-align:left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.black{
	color: black;
}
/********************************************
*	Anpassung bei Formularen und Label und	*
*	zugehöriger Label						*
********************************************/
.no_padding_margin{
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.form__label{
	font-size: 1rem;
	padding: 0.5rem 0 0 0;
}
.form__label-paddingOFF{
	font-size: 1rem;
	padding: 0;
}
.form__label-super{
	font-size: 1.3rem;
	padding: 0.5rem 0 0 0;
}
.form__label-super-paddingOFF{
	font-size: 1.3rem;
	padding: 0 0 0 0;
}
.form__label-sub{
	font-size: 0.7rem;
	padding: 0.5rem 0 0 0;
}
.form__label-sub-paddingOFF{
	font-size: 0.7rem;
	padding: 0 0 0 0;
}
.form__input{
	margin: 0;
	padding: 0;
}
.form__input[type = "radio"]{
	margin-left: 1rem;
}

/********************************************
*	Divider and Space						*
********************************************/
.margin-bottom{
	margin-bottom: 1rem;
}
.less_space{
	padding-bottom: 0;
	margin-bottom: -0.75rem;
}
.space{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-bottom: 2rem;
}
.space-025rem{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-bottom: 0.25rem;
}
.space-05rem{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-bottom: 0.5rem;
}
.space-1rem{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-bottom: 1rem;
}
.space-2rem{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-bottom: 2rem;
}
.space-3rem{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-bottom: 3rem;
}
.space-4rem{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-bottom: 4rem;
}
.space-6rem{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-bottom: 6rem;
}

.space-1rem-topbottom{
	margin: 0 0 0 0;
	padding: 0.5rem 0;
}
.space-2rem-topbottom{
	margin: 0 0 0 0;
	padding: 1rem 0;
}
.space-4rem-topbottom{
	margin: 0 0 0 0;
	padding: 2rem 0;
}
.space-6rem-topbottom{
	margin: 0 0 0 0;
	padding: 3rem 0;
}
.divider{
	border-bottom: 1px solid;
	border-color: black;
	margin: 0;
	margin-bottom: 0.5rem;
	height: 0;
	overflow: auto;
}
.divider-1rem{
	border-bottom: 1px solid;
	border-color: black;
	margin: 0;
	margin-bottom: 1rem;
	height: 0;
	overflow: auto;
}
.divider-marginOff{
	border-bottom: 1px solid;
	border-color: black;
	margin: 0;
	height: 0;
	overflow: auto;
}
.umrandung{
	margin: 0.5rem;
	padding: 1rem;
	outline-style: solid;
	outline-width: 1px; 
	outline-color: lightgray;
	overflow: auto;
}
.umrandung-less{
	margin: 0.5rem;
	padding: 0.5rem;
	outline-style: solid;
	outline-width: 1px; 
	outline-color: lightgray;
	overflow: auto;
}
.umrandung-nomargin{
	margin: 0;
	padding: 0.5rem 1rem 0 1rem;
	outline-style: solid;
	outline-width: 1px; 
	outline-color: lightgray;
	overflow: auto;
}
.umrandung-textblock{
	margin: 0;
	padding: 0.1rem;
	outline-style: solid;
	outline-width: 1px; 
	outline-color: lightgray;
	overflow: auto;
}

/********************************************
*	Registrierung und Login:				*
********************************************/
.login{
	background-color: lightgray;
	outline-style: solid;
	outline-width: 1px; 
	outline-color: lightgray;
}
.reg{
	background-color: lightgray;
	outline-style: solid;
	outline-width: 1px; 
	outline-color: lightgray;
}

/*	Aus Blenendne von Optionen in erhalb der 
	Registrierung*/
#hh:checked ~ .new__user__helper{
	margin: 0;
	padding: 0;
	display:block;
}
#hh:checked ~ .new__user__refugee{
	display:none;
}
#fh:checked ~ .new__user__helper{
	display:none;
}
#fh:checked ~ .new__user__refugee{
	margin: 0;
	padding: 0;
	display:block;
}
/*	Startseiten Anpassung. Login/Registrierung
	Anzeige*/
.startsite__login{
	display: block;
}
.startsite__reg{
	display: none;
}





/********************************************
*	Noch zu bearbeiten						*
********************************************/


.data{
	
}
.data__title{
	
}
.data__content{
	
}
.data__link{
	color = black;
	margin: 0;
}


.userdetail{
	
}
.userdetail__headline{
	
}
.userdetail__content{

}
