<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Dialog Prototype</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
	<h1 class="text-center" th:text="#{dialog.title}">Dialog Prototyp</h1>
	<div id="messages">
		<div th:each="message, it : ${messages}" th:with="index = ${it.count}">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>User wrote:</h3>
				</div>
				<div class="panel-body">
					<blockquote class="entrytext" th:text="${message.text}">h</blockquote>
					<footer class="date"
						th:text="${#dates.format(message.date, 'dd. MMMM yyyy - HH:mm')}">Datum</footer>
				</div>
			</div>
		</div>
	</div>

	<!--
	<form method="post" role="form" class="gb-form" id="form"
		th:action="@{/dialog}" th:object="${form}">
		<div class="form-group">
			<label for="freetext" th:text="#{dialog.form.freetext}">FreeText</label>
			<textarea th:field="*{text}" th:errorclass="fieldError" class="form-control" required="required">
			</textarea>
		</div>
	</form>
	-->
</body>

</html>