<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Search Good</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div>
	        <h2> List all Goods </h2>
	        <input type="submit" onclick="location.href='/listAllGoods'" value="Click"/>
	    </div>
        <br></br>
        <div>
	        <h2> Order Goods by tag </h2>
	        <input type="submit" onclick="location.href='/orderGoodsByTag'" value="Click"/>
	    </div>
	    <br></br>
        <form th:action="@{/searchGoodByName}" method="post">
        	<h2> Search Good by name</h2>
            <div><label> Name: <input type="text" name="goodName"/> </label></div>
	        <br></br>
	        <div><input type="submit" value="Search"/></div>
        </form>
        <br></br>
        <form th:action="@{/searchGoodByTag}" method="post">
        	<h2> Search Good by tag</h2>
            <div><label> Tag: <input type="text" name="goodTag"/> </label></div>
	        <br></br>
	        <div><input type="submit" value="Search"/></div>
        </form>
    </body>
</html>