<!DOCTYPE html>
<html>	
	<head class="no-js" xmlns:th="http://www.thymeleaf.org">
		<th:block th:include="imports :: head"></th:block>
	</head>

	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<div class="12-small columns">
				<p th:text="${activation_link_text.text}">Lokaler Aktivierungslink: </p>
				<p th:text="${activation_eclipse_text.text}"> Wird im Eclipse ausgegeben </p>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>