<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

<!--
	TODO:
		- Variablen Namen nach content._ überarbeiten
		- th:src Fileverweis überarbeiten
		- th:href Mapping überarbeiten
		- Kommentare löschen
-->

	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>

	<body>

		<div th:fragment="item">
			<div class="small-12 colums medium-6 columns">
				<div th:fragment="activity" th:id="activity+${activity.id}">
					<div class="gooditem--multi">

						<div  class="gooditem__head--multi">
							<h3 th:text="${activity.name}" class="gooditem__title--multi"></h3>
						</div>

						<div class="gooditem__body--multi">
							<div>
								<label class="gooditem__label--multi"> Picture </label>
								<img th:src="${activity.id+'/activityimage'}" class="gooditem__text--multi"/>
							</div>

							<div>
								<label class="gooditem__label--multi"> Description </label>
								<p th:text="${activity.description}" class="gooditem__text--multi"></p>
							</div>

							<div>
								<label class="gooditem__label--multi"> Tag </label>
								<p th:text="${activity.tag.name}" class="gooditem__text--multi"></p>
							</div>

							<div>
								<label class="gooditem__label--multi"> Start date </label>
								<p th:text="${activity.getStringFromDate(activity.startDate)}" class="gooditem__text--multi"></p>
							</div>

							<div>
								<label class="gooditem__label--multi"> End date </label>
								<p th:text="${activity.getStringFromDate(activity.endDate)}" class="gooditem__text--multi"></p>
							</div>

							<div>
								<label class="gooditem__label--multi"> User-ID </label>
								<p th:text="${activity.user.id}" class="gooditem__text--multi"></p>
							</div>
						</div>
						
						<div class="small-12 columns">
							<form action="/dialogByOffer" method="post">
								<input type="hidden" name="activityId" th:value="${activity.id}"/>
								<input class="button" type="submit" value="Ask for this activity"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:include="imports :: script"></th:block>

	</body>

</html>
