<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>

	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<div class="12-small columns">
				<p th:text="${activation_mailsent_text}">Die Aktivierungsmail wurde an ihre Mailadresse gesendet. Bitte klicken sie den Link darin, um ihren Account zu aktivieren.</p>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>