<!doctype html>
<html class="no-js" mlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:fragment="item">
			<div class="row">
				<div class="12-small columns">
					<p class="text"> Picture </p>
					<img th:src="${result.getId()+'/activityimage'}"/>
				</div>
				
				<th:block th:fragment="nopic">
					<div class="12-small columns">
						<p class="text"> Name </p>
						<p th:text="${result.name}" class="text-super">Lorem ipsum</p>
					</div>
					
					<div class="12-small columns">
						<p class="text"> Description </p>
						<p th:text="${result.description}" class="text-super">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
					</div>
					
					<div class="12-small columns">
						<p class="text"> Tag </p>
						<p th:text="${result.tag.name}" class="text-super">Lorem</p>
					</div>
					
					<div class="12-small columns">
						<p class="text"> Start date </p>
						<p th:text="${result.getStringFromDate(result.startDate)}" class="text-super">Lorem</p>
					</div>
					
					<div class="12-small columns">
						<p class="text"> End date </p>
						<p th:text="${result.getStringFromDate(result.endDate)}" class="text-super">Lorem</p>
					</div>
				</th:block>
			</div>
		</th:block>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>