<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title th:text="${title}">Admin Page</title>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class ="small-12 colums large-6 columns">
				<div class="admin">
				
					<h1 class="admin__title" th:text="${admin_userlist_text.text}">User List:</h1>
					
					<table class="admin__table">
						<tr class="admin__table__row"> <!--/* List all attributes here! */-->
							<th th:text="${user_firstname_text.text}">First name</th>
							<th th:text="${user_lastname_text.text}">Last name</th>
							<th th:text="${user_email_text.text}">email</th>
							<th th:text="${user_origin_text.text}">origin</th>
							<th th:text="${user_username_text.text}">username</th>
							<th th:text="${user_registrationdate_text.text}">date of registration</th>
							<th th:text="${user_activationstatus_text.text}">user activated</th>
						</tr>
						
						<tr th:each="user : ${users}" class="admin__table__row">
							<td th:text="${user.userAccount.firstname}">Max</td>
							<td th:text="${user.userAccount.lastname}">Mustermann</td>
							<td th:text="${user.userAccount.email}">123@4.com</td>
							<td th:text="${user.origin}">GER</td>
							<td th:text="${user.username}">MadMax</td>
							<td th:text="${user.registrationdate}">rdate</td>
							<td th:text="${user.activated}">activation_state</td>
						</tr>
					</table>
					
				</div>
			</div>
			
			<div class ="small-12 colums large-6 columns">
				<div>
					<h1 class="headline">Offer List:</h1>
					
					<table class="admin__table">
						<tr class="admin__table__row"> <!--/* List all attributes here! */-->
							<th th:text="${item_general_name_text.text}">Name</th>
							<th th:text="${item_general_description_text.text>Description</th>
							<th th:text="${item_general_offeredby_text.text>Offered by</th>
						</tr>
						
						<tr th:each="offer : ${offers}" class="admin__table__row">
							<td th:text="${offer.name}">Title</td>
							<td th:text="${offer.description}">Description</td>
							<td th:text="${offer.user}">Max Mustermann</td>
						</tr>
					</table>
					
				</div>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>
