<html>

	<head>
		<th:block th:include="imports :: head"></th:block>
		<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	</head>
	
	<body>
	
		<th:block th:include="navigation :: navigation"></th:block>
	
		
		<div class="row">
			<form th:action="@{/submit_aktivateUser/{path}(path=${user.getUserAccount().getUsername()})}" method="post">
				<div class="small-12 columns">
					<h1 class="headline">Nutzerkonto aktivieren</h1>
					
					<p  class="text-super" th:text= "@{Do you really want to &nbsp;}+${user.getActivationStateOpposite()}+@{&nbsp; the User &nbsp;}+${user.userAccount.getUsername()}+@{ ?}"><font color="red"></font></p>
					
					<label class="form__label" for="check2">
						<input type="checkbox" name="aktivate" value="yes" id="check2"/>Nutzerkonto aktivieren 
					</label>
					
					<input class="button" type="submit" value="Submit"/>
				</div>
			</form>
		</div>
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>