<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<head class="no-js" xmlns:th="http://www.thymeleaf.org">
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
		<div th:include="navigation :: navigation"></div>
		
		
		
		<div class="row">
			<div class="small-12 columns space-1rem"></div>
			
			<div class="small-12 medium-6 columns">
				<h1 class="headline" th:text="${tag_tags_text.text}"> Tags </h1>
			</div>
			
			<div class="small-12 medium-6 columns">
				<form th:action="@{/addNewTag}" method="get">
					<input class="button" type="submit" value="Add new Tag" th:value="${tag_newtag_text.text}"/>
				</form>
			</div>
		
			<div class="small-12 columns space-1rem"></div>
		
			<div th:each="tag, it : ${result}" th:with="index = ${it.count}">
				<div th:fragment="tag" th:id="tag+${tag.id}">
					<div class="small-12 medium-4 columns">
						<div class="row umrandung tags__heigth no_padding_margin">
							<div class ="small-12 columns">
								<p th:text="${index}+'. '+${tag.name}" class="text-super"></p>
							</div>
							<div class="small-6 columns">
								<form th:action="@{/deletedTag}" method="post">
									<input type="hidden" name="id" th:value="${tag.id}"/>
									<input class="button" type="submit" value="Delete" th:value="${tag_delete_text.text}"/>
								</form>
							</div>
							<div class="small-6 columns">
								<form th:action="@{/updateTag}" method="post">
									<input type="hidden" name="id" th:value="${tag.id}"/>
									<input class="button" type="submit" value="Update" th:value="${tag_update_text.text}"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:include="imports :: script"></th:block>
	</body>
	
</html>