<html  xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		
		<div th:include="navigation :: navigation"></div>	
	
		<div class="row">
			<div class="large-12 colums">
				<h1 th:text="@{Passwort ändern: &nbsp; } + ${userAccount.getUsername()}"> UserAccount</h1>
			
				<form th:action="@{/changePassword_submit/} + ${userAccount.getUsername()}" method="post">
					<p class="new__user__text">Altes Passwort:</p>
					<input name="actualPassword" type="text"/>
					
					<p class="new__user__text">Neues Passwort:</p>
					<input name="newPassword1" type="text" />
					
					<p class="new__user__text">Neues Passwort wiederholen:</p>
					<input name="newPassword2" type="text" />
					
					<input type="submit" class="button" value="Next"/>
				</form>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>