<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline">Template bearbeiten: </h1>
			</div>
			
			<form th:action="@{/change_template_submit/}+${template}" method="post">
				<table>
					<tr> <!-- List all attributes here! -->
						<th>ThymeLeaf-Einbindung</th>
						<th th:if="${refSprache}">Referenzsprachen Text</th>
						<th>zuändernde Sprache</th>
					</tr>
					<tr th:each="temp, iterStat : ${result}">
						<td>
							<input class="form__input" th:value="${temp.get1().getThymeLeafName()}" type="text" th:name="'thymeLeafValue'+${iterStat.count}" autofocus="autofocus"/>
							<input class="form__input" th:value="${temp.get1().getId()}" type="hidden" th:name="'thymeLeafId'+${iterStat.count}"/>
						</td>
						<td th:if="${refSprache}" th:text="${temp.get2().get2()}"></td>
						<td><input class="form__input" th:value="${temp.get2().get1()}" type="text" th:name="'Value'+${iterStat.count}" autofocus="autofocus"/></td>
					</tr>
				</table>
				<input type="hidden" th:value="${changeSprache}" name="changeSprache"/>
				<input type="submit" class="button" value="Speichern"/>
			</form>
			
		</div>
		
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>