<html  xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		
		<div th:include="navigation :: navigation"></div>	
	
		<div class="row">
			
			
			<form th:action="@{/changePassword_submit/} + ${userAccount.getUsername()}" method="post">	
			
				<div class="small-12 columns">
					<h1 th:text="${user_changepwhead_text.text}" class="headline"> UserAccount</h1>
				</div>

				<div class="small-12 columns">
					<label class="form__label" for="actualPassword" th:text="${user_oldpw_text.text}">Old Password:</label>
					<input id="actualPassword" name="actualPassword" type="password" required="required"/>
				</div>
				<div class="small-12 columns">
					<label class="form__label" for="newPassword1" th:text="${user_newpw_text.text}">New Password:</label>
					<input id="newPassword1" name="newPassword1" type="password" required="required"/>
				</div>
				<div class="small-12 columns">
					<label class="form__label" for="newPassword2" th:text="${user_newpw_text.text}">New Password:</label>
					<input id="newPassword2" name="newPassword2" type="password" required="required"/>
				</div>
				<div class="small-12 columns">
					<input type="submit" class="button" th:value="${user_next_text.text}" value="Next"/>
				</div>
			</form>
			
		</div>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>