<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title th:text="${title}">User</title>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		<div class="row">
			<th:block th:include="data :: kopf"></th:block>
			
			<table class="small-12 columns">			
				<th:block th:include="data :: userName"></th:block>
				
				<tr sec:authorize="hasRole('ROLE_NORMAL')">	
					<td colspan="2"><a th:href="@{/modifyAddress}" href="modifyAddress.html" th:text="${user_changeadd_text.text}">Adresse bearbeiten</a></td>
				</tr>
				<tr>
					<td class="text-super" th:text="${user_addtype_text.text}">Addresstyp</td>
					<td th:text="${user.getAddresstypString()}" class="text">Addresstyp</td>
				</tr>
				<tr>
					<td class="text-super" th:text="${user_refugeehome_text.text}">Refugee home</td>
					<td th:text="${user.location.getFlh_name()}" class="text">Flh_name</td>
				</tr>
				<tr>
					<td class="text-super" th:text="${user_citypart_text.text}">CityPart</td>
					<td th:text="${user.location.getCityPart()}" class="text">CityPart</td>
				</tr>	
				<tr>
					<td class="text-super" th:text="${user_cityzip_text.text}">City, zip code</td>
					<td th:text="${user.location.getCity()} +@{&nbsp;}+ ${user.location.getZipCode()}" class="text">City, zip code</td>
				</tr>
				
				<th:block th:include="data :: language"></th:block>
			</table>
		</div>
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>