<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title th:text="${title}">User</title>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
	
		<header>
			<h1>Kundendaten</h1>
		</header>
		
		<div>				
			<div sec:authorize="hasRole('ROLE_NORMAL')"><a th:href="@{/changePassword/} + ${user.userAccount.getUsername()}" href="changePassword.html">Password ändern</a></div>
			<div sec:authorize="hasRole('ROLE_NORMAL')"><a th:href="@{/deaktivateUser}" href="deaktivateUser.html">Nutzerkonto deaktivieren</a></div>
			<table>			
				<tr>
					<td>Firstname</td>
					<td th:text="${user.userAccount.getFirstname()}">Firstname</td>
				</tr>	
				<tr>
					<td>Lastname</td>
					<td th:text="${user.userAccount.lastname}">Lastname</td>
				</tr>	
				<tr>
					<td>Email</td>
					<td th:text="${user.userAccount.email}">Email</td>
				</tr>	
				<tr sec:authorize="hasRole('ROLE_ADMIN')">
					<td>ActivationState</td>
					<td th:text="${user.getActivationState()}">active</td>
				</tr>	
				<tr sec:authorize="hasRole('ROLE_NORMAL')">
					<td colspan="2"><a th:href="@{/modifyUserAccount/{path}(path=${user.getUserAccount().getUsername()})}" href="modifyUserAccount.html">Nutzerdaten bearbeiten</a></td>
				</tr>
				<tr>
					<td>Addresstyp</td>
					<td th:text="${user.getAddresstypString()}">Addresstyp</td>
				</tr>
				<tr>
					<td>Refugee home</td>
					<td th:text="${user.location.getFlh_name()}">Flh_name</td>
				</tr>
				<tr>
					<td>CityPart</td>
					<td th:text="${user.location.getCityPart()}">CityPart</td>
				</tr>	
				<tr>
					<td>City, zip code</td>
					<td th:text="${user.location.getCity()} +@{&nbsp;}+ ${user.location.getZipCode()}">City, zip code</td>
				</tr>
				<tr sec:authorize="hasRole('ROLE_NORMAL')">	
					<td colspan="2"><a th:href="@{/modifyAddress}" href="modifyAddress.html">Adresse bearbeiten</a></td>
				</tr>
				<tr>
					<td>Origin</td>
					<td th:text="${user.origin}">Origin</td>
				</tr>	
				<tr>
					<td>Preferred Language</td>
					<td th:text="${user.getPrefLanguage().toString()}">Muttersprache</td>
				</tr>	
				<tr>
					<td>Other Languages</td>
					<td th:text="${user.showLanguages()}">weitere Sprachen</td>
				</tr>
				<tr sec:authorize="hasRole('ROLE_NORMAL')">
					<td colspan="2"><a th:href="@{/modifyLanguages}" href="modifyLanguages.html">Sprachen bearbeiten</a></td>
				</tr>	
			</table>
			<div sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/modify/user/{path}(path=${user.getUserAccount().getUsername()})}">Modify User</a></div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>