<html>
	<head>
		<th:block th:include="imports :: head"></th:block>
		<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	</head>
	
	<body>	
		<th:block th:include="navigation :: navigation"></th:block>

		<div class="row">
			<form th:action="@{/submit_deaktivateUser/{path}(path=${user.getUserAccount().getUsername()})}" method="post">
				<div class="small-12 columns">
					<h1 class="headline"  th:text="${user_deactivateuser_text.text}">Nutzerkonto deaktivieren</h1>
				</div>
				
				<div class="small-12 columns">
					<p sec:authorize="hasRole('ROLE_NORMAL')" class="text-super"><font color="red"><b th:text="${user_deactivateconfirm_text.text}">Wollen Sie ihr Nutzerkonto wirklich deaktivieren? Diese Aktion kann nur von einem Administrator r&uuml;ckg&auml;ngig gemacht werden. Deaktivierte Nutzerkonten werden nach 3 Monaten gel&ouml;scht.</b></font></p>
					<p sec:authorize="hasRole('ROLE_ADMIN')" class="text-super" th:text="${admin_toconfirm_text.text}+${user.getActivationStateOpposite()}+@{&nbsp; the User &nbsp;}+${user.userAccount.getUsername()}+@{&nbsp; ?}"><font color="red"></font></p>
				</div>
				
				<div class="small-12 columns">
					<input type="checkbox" name="deaktivate" value="yes" id="check1"/>
					<label class="form__label" for="check1" th:text="${user_deactivateuser_text.text}">Nutzerkonto deaktivieren </label>
				</div>
				
				<div class="small-12 medium-7 columns">
					<div class="g-recaptcha" data-sitekey="6LcBYBATAAAAAA3nbmCPoJmKJ9wYNKyia9T93sZC"></div>
					<noscript>
						<font color="red"><b th:text="${user_jscaptcha_text.text}">In Ihrem Browser ist JavaScript deaktiviert. Für die Anzeige des Captcha wird Javascript ben&ouml;tigt.</b></font>
					</noscript>
				</div>
				<div class="small-12 medium-5 columns">
					<input class="button" type="submit" value="Submit" th:value="${admin_submit_text.text}"/>
				</div>
			</form>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>