<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title> Deleted good </title>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline"> You just deleted this good: </h1>
			</div>
		</div>
		
		<div th:include="itemN--large--good--nopic :: item"></div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>