<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title> Deleted tag </title>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 colums">
				<h1 class="gooditem__title-single"> You just deleted this tag: </h1>
				<div th:include="tags_item--single :: item"></div>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>