<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
		<title> Deleted activity </title>
	</head>
	
	<body>
	
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="${item_general_deletedact_text.text}"> You just deleted this activity: </h1>
			</div>
		</div>	
		
		<div th:include="itemN--large--activity--nopic :: item"></div>
		
			
		<th:block th:include="imports :: script"></th:block>
	</body>
	
</html>