<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
		<title> Deleted activity </title>
	</head>
	
	<body>
	
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 colums">
				<div class="gooditem-single">
	
					<div class="gooditem__head-single">
						<h2 class="gooditem__title-single"> You just deleted this activity: </h2>
					</div>
					
					<div th:include="itemN--large--activity--nopic :: item"></div>
		
				</div>
			</div>
		</div>
		<th:block th:include="imports :: script"></th:block>
	</body>
	
</html>