<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
		<title>Dialog List</title>
	</head>

	<body>
		<div th:include="navigation :: navigation"></div>

		<div class="row">
			<!-- replace by actual internalization string -->
			<h1>My Dialogs</h1>
			
			<div class="small-12 columns">
				<table sec:authorize="hasRole('ROLE_NORMAL')">
					<thead>
						<tr>
							<th>Title</th>
							<th>Dialog Partner</th>
							<th>Link</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="dialog : ${dialogList}">
							<td th:text="${dialog.title}">Title</td>
							<td th:text="${dialog.userB.userAccount.firstname}">Partner</td>
							<td>
							<!--
								<form action="/dialogList" th:action="@{/dialog(id=${dialog.id})}">
									<input type="submit" value="Go to" />
								</form>
							-->
								<a href="/dialogList" th:href="@{/dialog(id=${dialog.id})}"> Go to </a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>