<!DOCTYPE HTML>

<html lang="de">
	
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title>Dialog List</title>
	</head>
	
	<body>
	
		<div th:include="navigation :: navigation"></div>
		
		<div>
			<table>
				<thead>
					<tr>
						<th>Dialog Partner</th>
						<th>Link</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="dialog : ${dialogList}">
						<th th:text="${dialog.partner}"></th>
					</tr>
				</tbody>
			</table>
		</div>
		<th:block th:include="imports :: script"></th:block>
	</body>
	
</html>