<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title>Error</title>
	</head>
	
	<body>
	
		<div class="all">
			<header>
				<h1>ERROR</h1>
			</header>
			
			<div class="content">
				<p>Es ist leider ein Fehler aufgetreten.</p>
				<p><a th:href="@{/index}" > Zur Startseite</a></p>
			</div>
		</div>
		<th:block th:include="imports :: script"></th:block>
		
	</body>

</html>