<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title>Error</title>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="${error_error_text.text}">ERROR</h1>
			</div>
			
			<div class="small-12 columns">
				<p class="text-super" th:text="${error_unknownerror_text.text}">Es ist leider ein unbekannter Fehler aufgetreten.</p>
				<a class="text" th:href="@{/}" th:text="${error_back_text.text}"> Zur Startseite</a>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>