<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="imports :: head"></th:block>
		<title>Error</title>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="${error_error_text.text}">ERROR</h1>
			</div>
			
			<div class="small-12 columns">
				<p class="text" th:text="${error_unusedcaptcha_text.text}">Captcha must be used!</p>
				<a th:href="@{/}" th:text="${error_back_text.text}">Back</a>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>