<html>
	<head>
		<th:block th:fragment="head">
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

			<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" href="../resources/css/foundation.css"/>
			<link rel="stylesheet" th:href="@{/resources/css/app.css}" href="../resources/css/app.css"/>
			<script th:src="@{/resources/js/vendor/modernizr.js}" src="../resources/js/vendor/modernizr.js"></script>
			<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
			<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
		</th:block>
	</head>
	
	<body>
		<th:block th:fragment="script">
			<script th:src="@{/resources/js/vendor/jquery.js}" src="../resources/js/vendor/jquery.js"></script>
			<script th:src="@{/resources/js/foundation.min.js}" src="../resources/js/foundation.min.js"></script>
			<script>
				$(document).foundation();
			</script>
		</th:block>
	</body>
</html>