<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<!--/*
		TODO:
			- iterration Object setzen
			- in navigation.html die Navigation fertig machen
			- Footer erstellen einfügen und includen.
			- Kommentare löschen
	*/-->
	<head>
		<th:block th:include="imports :: head"></th:block>
		<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	</head>
	
	<body>		
		<div sec:authorize="isAuthenticated()">		
			<th:block th:include="navigation :: navigation"></th:block>
			
			<div class="space"></div>
			
			<div class="row">
				<div class="small-12 medium-6 columns umrandung--nomargin">
					<a th:href="@{/home}" class="headline black"> All Goods </a>
					<div class="divider--1rem"></div>
					<th:block th:include="itemNContainer--small--multi--goods--1 :: show_items"></th:block>
				</div>
				
				<div class="small-12 medium-6 columns umrandung--nomargin">
					<a class="headline black"> All Activities </a>
					<div class="divider--1rem"></div>
					<th:block th:include="itemNContainer--small--multi--activities--1 :: show_items"></th:block>
				</div>
			</div>
			
			
		</div>
		
		<div sec:authorize="!isAuthenticated()">
			<th:block th:include="startsite :: start"></th:block>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>