<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<!--/*
		TODO:
			- iterration Object setzen
			- in navigation.html die Navigation fertig machen
			- Footer erstellen einfügen und includen.
			- Kommentare löschen
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>		
		<div sec:authorize="isAuthenticated()">		
			<th:block th:include="navigation :: navigation"></th:block>
			<!--Plcace for Items-->
		</div>
		
		<div sec:authorize="!isAuthenticated()">
			<th:block th:include="startsite :: start"></th:block>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>