<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			-
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:fragment="item">
				<div class="row">
					<div class="item-single">
						<div class="small-12 columns">
							<h1 th:text="${result.name}" class="headline">Lorem ipsum</h1>
						</div>
						
						<div class="small-12 medium-4 columns">
							<img th:src="${result.getId()+'/image'}" class=""/>
						</div>
						
						<div class="small-12 medium-8 columns">
							<p th:text="${result.description}" class="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
						</div>
						
						<div class="small-12 medium-8 columns">
							<p th:text="${result.tag.name}" class="">Lorem</p>
						</div>
					</div>
				</div>
		</th:block>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>