<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			-
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
	
		<th:block th:fragment="show_items">
			<th:block th:if="${good}" th:include="itemN--large--good--buttons :: item"></th:block>
			
			<th:block th:if="!${good}" th:include="itemN--large--activity--buttons :: item"></th:block>
		</th:block>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>