<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

<!--
	TODO:
		- Variablen Namen nach content._ überarbeiten
		- th:src Fileverweis überarbeiten
		- th:href Mapping überarbeiten
		- Kommentare löschen
-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div th:fragment="item" class="item">
			<a th:href="@{'/detail/' + ${content.identifier}}" class="item__link" href="#">
				<div class = "item__title">
					<h3 th:text="${content.name}" class = "item__title__text">Title</h3>
				</div>
				<div class = "item__container">
					<div class="item__img">
						<img th:src="@{'img/'+${content.image}}" class="hide-for-small-only" src="img/Koala.jpg"/>
					</div>
					<div class= "item__description">
						<p th:text="${content.description}" class="item__description__text">Ich bin eine Lame Kurzbeschreibung. Der Koala wurde kaum genutzt!</p>
					</div>
					<div class="item__info">
						<p th:text="${content.location}" class="item__info__text">01127-Dresden</p>
					</div>
				</div>
			</a>
		</div>
		<th:block th:include="imports :: script"></th:block>
	</body>
	
</html>