<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		- in th:each iteraration muss toShow als neue Variable gesetzt sein.
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:fragment="item">
			<a th:href="@{'/item/'+${toShow.getItemLink()}}" class="itemN__link">
				<div class="itemN">
					<div class="itemN__headlinecontainer">
						<p th:text="${toShow.name}" class="headline-sub"></p> <!--${good.getId()}+'. '+-->
					</div>
					
					<div class="divider"></div>
					
					<div class="row">
						<div class="itemN__container">
							<div class="medium-6 small-12 columns "><!--/* hide-for-small-only */-->
								<div class="itemN__img">
									<img th:src="${toShow.getItemPictureLink()}"/>
								</div>
							</div>		
							
							<div class="medium-6 small-12 columns">
								<p th:text="${toShow.getDateAsString()}" class="text"></p>
								<p th:text="${toShow.description}" class="text"></p>							
							</div>
						</div>
						
						<div class="itemN-bottom">
							<div class="divider-marginOff"></div>
							
							<div class="itemN-left">
								<p th:text="${toShow.tag.name}" class="text"></p>
							</div>
							
							<div class="itemN-right">
								<p th:text="${toShow.user.location.city}" class="text-right"></p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</th:block>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>