<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			-
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:fragment="show_items">
			<div class="row small-collapse">
				<div th:each="toShow, it : ${resultGoods}" th:with="index = ${it.count}">
					<div class="small-12 medium-6 columns end margin-bottom" th:id="${toShow.getItemTypeAndId()}">
					
						<th:block th:include="itemN--small--good :: item"></th:block>
						
					</div>
				</div>
			</div>
		</th:block>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>