<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<!--/*
		TODO:
			- Thymeleaf einarbeiten
			- Kommentare löschen
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="show-for-small-only">
			<div th:include="item_single--small :: item">
			</div>
		</div>
		
		<div class="hide-for-small-only">
			<div th:include="item_single--big :: item">
			</div>
		</div>		
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>