<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		ToDo:
			- Username zu EMail addresse ändern?
			- Title
	*/-->

	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:fragment="login">
		
			<div class="show-for-small-only space-2rem"></div>
			<div class="show-for-medium-only space-4rem"></div>
			<div class="show-for-large-up space-6rem"></div>
			
			<div class="login">
				<div class="row small-uncollapse">
					<div class="large-6 small-6 columns">
						<h1 class="headline" th:text="${login_text.text}">Login</h1>
					</div>
					
					<div class="large-6 small-6 columns">
						<label class="link-right"><a th:text="${login_link_text.text}" th:href="@{/new_user}" onclick="return toggle('log');" >Noch nicht registriert?</a></label>
						<!--<label class="link__right"><a th:text="${login_link_text.text}" th:href="@{/new_user}" onclick="return toggle('log');" >Noch nicht registriert?</a></label>-->
					</div>
					
					<form th:action="@{/login}" method="post">
						
						<div class = "small-12 columns">
							<label th:text="${login_error_text.text}" th:if="${param.error}" class="error center space-1rem-topbottom" for="username">Der Nutzername oder das Passwort sind falsch!</label>
							<!--<label th:text="${login_error_text.text}" th:if="${param.error}" class="error center space__1rem__topbottom" for="username">Wrong Username or Password!</label>-->
						</div>
						
						<div class="medium-6 small-12 columns">
							<label class="form__label" th:text="${login_nutzername_text.text}" for="username">Nutzername:</label> 
							<!--<label th:text="${login_nutzername_text.text}" class="form__label" for="username">Username:</label> */-->
							<input class="form__input" type="text" id="username" name="username" required="required"/>
						</div>
						
						<div class="medium-6 small-12 columns">
							<label th:text="${login_passwort_text.text}" class="form__label" for="password">Passwort:</label>
							<!--<label th:text="${login_passwort_text.text}" class="form__label" for="password">Password:</label>-->
							<input class="form__input" type="password" id="password" name="password" required="required"/>
						</div>
						
						<div class="small-12 columns">
							<div class="button-right">
								<input class="button" type="submit" th:value="${login_button_text.text}" />
								<!--<input th:value="${login_button_text.text}" class="button" type="submit" value="Log in" />-->
							</div>
							<label class="link"><a href="/restorePassword" th:text="${login_forgot_password_text.text}">Passwort vergessen?</a></label>
						</div>
					</form>
				</div>
			</div>
		</th:block>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>