<html  xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		
		<div th:include="navigation :: navigation"></div>	
	
		<div class="row">
			<div class="small-12 columns">
				<h1 th:text="@{Your address: &nbsp; } + ${userAccount.getUsername()}" class="headline"> UserAccount</h1>
			</div>
			<form th:action="@{/modifyAddress_submit/}" method="post">

				<div class="small-12 columns">
					<h2 class="headline--sub">Wohnungstyp:</h2>
				</div>
				
				<input class="form__input" id="hh" type="radio" name="wohnen" value="helper" checked=""/>
				<label class="form__label" for="hh">Wohnung</label>
				
				<input class="form__input" type="radio" id="fh" name="wohnen" value="refugee"/>
				<label class="form__label" for="fh">Flüchtlingsheim</label>
				

				<div class="new__user__helper">
					<div class="large-3 small-12 columns">
						<label class="form__label">Stra&szlig;e:</label>
					</div>
					<div class="large-9 small-12 columns">
						<input name="street" type="text"/>
					</div>
					
					<div class="large-3 small-12 columns">
						<label class="form__label">Hausnummer:</label>
					</div>
					<div class="large-9 small-12 columns">
						<input name="housenr" type="text"/>
					</div>
					
					<div class="large-3 small-12 columns">
						<label class="form__label">Postleitzahl:</label>
					</div>
					<div class="large-9 small-12 columns">
						<input name="postcode_H" type="text"/>
					</div>
				
					<div class="large-3 small-12 columns">
						<label class="form__label">Stadt:</label>
					</div>
					<div class="large-9 small-12 columns">
						<input name="city_H" type="text"/>
					</div>
				</div>
				
				<div class="new__user__refugee">
					<div class="large-3 small-12 columns">
						<label class="form__label--paddingOFF">Fl&uuml;chtlingsheim Name:</label>
					</div>
					<div class="large-9 small-12 columns">
						<input name="flh_name" type="text"/>
					</div>
				
					<div class="large-3 small-12 columns">
						<label class="form__label">Postleitzahl:</label>
					</div>
					<div class="large-9 small-12 columns">
						<input name="postcode_R" type="text"/>
					</div>
				
					<div class="large-3 small-12 columns">
						<label class="form__label">Stadt:</label>
					</div>
					<div class="large-9 small-12 columns">
						<input name="city_R" type="text"/>
					</div>
				
					<div class="large-3 small-12 columns">
						<label class="form__label">Stadtteil:</label>
					</div>
					<div class="large-9 small-12 columns">
						<input name="citypart" type="text"/>
					</div>
				</div>
				
				<div class="small-12 columns">
					<input type="submit" class="button" value="Next"/>
				</div>
			</form>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>