<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div>
			<header>
				<h1>Entschuldigung</h1>
			</header>
			
			<div>
				<p>Das Bearbeiten ist im Moment noch nicht möglich.</p>
				
				<p><a th:href="@{/userDetails}" > Zur Kundenübersicht</a></p>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>