<html  xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		
		<div th:include="navigation :: navigation"></div>	
	
		<div class="row">
			<div class="small-12 columns">
				<h1 th:text="@{Your Languages: &nbsp; }" class="headline"> UserAccount</h1>
			</div>
			
			<form th:action="@{/modifyLanguages_submit/}" method="post">				
				<div class="small-12 columns less_space">
						<select id="nativelanguage" name="nativelanguage">
							<option th:each="language : ${languages}"
								th:if="${language.getkennung()} == ${user.getPrefLanguage().getkennung()}" selected="selected"		
								th:value="${language.getkennung()}"
								th:text="${language.name}">
							</option>
							<option th:each="language : ${languages}"
								th:value="${language.getkennung()}"
								th:text="${language.name}">
							</option>
						</select>  
				</div>
				<div class="small-12 columns">
					<label for="otherlanguages" class="form__label">2.Sprache:</label>
				</div>
				<div class="small-12 columns less_space">
					<select id="otherlanguages" name="otherlanguages">
						<option value="-1">---- Select ----</option>
						<option th:each="language : ${languages}"
							th:if="${language.getkennung()} == ${language2}" selected="selected"		
							th:value="${language.getkennung()}"
							th:text="${language.name}">
						</option>
						<option th:each="language : ${languages}"
							th:value="${language.getkennung()}"
							th:text="${language.name}">
						</option>
					</select>  
				</div>
				<div class="small-12 columns">
					<label for="otherlanguages2" class="form__label">3.Sprache:</label>
				</div>
				<div class="small-12 columns less_space">
					<select id="otherlanguages2" name="otherlanguages">
						<option value="-1">---- Select ----</option>
						<option th:each="language : ${languages}"
							th:if="${language.getkennung()} == ${language3}" selected="selected"		
							th:value="${language.getkennung()}"
							th:text="${language.name}">
						</option>
						<option th:each="language : ${languages}"
							th:value="${language.getkennung()}"
							th:text="${language.name}">
						</option>
					</select>  
				</div>

				<input type="submit" class="button" value="OK"/>
			</form>
			
		</div>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>