<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline"> Activities </h1>
			</div>
			<div class="small-12 columns divider"></div>
		</div>
		
		<th:block th:include="itemNContainer--small--activities--2 :: show_items"></th:block>
			
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>