<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<head class="no-js" xmlns:th="http://www.thymeleaf.org">
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
		<div th:include="navigation :: navigation"></div>
		 
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="${item_general_goods_text.text}"> Goods </h1>
			</div>
			<div class="small-12 columns divider"></div>

		</div>
		
		<th:block th:include="itemNContainer--small--goods--2 :: show_items"></th:block>
			
		<th:block th:include="imports :: script"></th:block>
	</body>
	
</html>