<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<!--/*
		TODO:
			- Navigation weiter anpassen
				+ weiter Links hinzufügen
			- Template mehr zum Template ausbauen
			- Variablen hinzufügen
			- th:href Mapping festlegen.
			- Kommentare löschen
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:fragment="navigation">
			<nav class="top-bar" data-topbar="" role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a th:href="@{/}" href="./index.html">My Site</a></h1>
					</li>
					<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					<li class="toggle-topbar menu-icon">
						<a><span>Menu</span></a>
					</li>
				</ul>
			
				<section class="top-bar-section">
				
				<!-- Right Nav Section -->
					<ul class="right">
						
						<li class="has-form">
							<th:block th:include="search :: searchByTag"></th:block>
						</li>
						
						<li sec:authorize="hasRole('ROLE_NORMAL')">
							<a sec:authorize="isAuthenticated()" th:href="@{/offer}" href="./offer.html">Offer</a>
						</li>
						
						<li class="has-dropdown">
							<a th:text="${#authentication?.name}">
								Mein Account
							</a>
							
							<ul class="dropdown">
								<li sec:authorize="hasRole('ROLE_ADMIN')">
									<a class="center" th:href="@{/userDetails}" href="userDetails.html" >Kundenliste</a>
								</li>
								
								<li sec:authorize="hasRole('ROLE_NORMAL')">
									<a class="center" th:href="@{/data}" href="data.html" > Eigene Daten</a>
								</li>
								
								<li sec:authorize="hasRole('ROLE_NORMAL')">
									<a class="center" th:href="@{/myOfferedGoods}" href="myOfferedGoods"> My Offered Goods</a>
								</li>
								
								<li sec:authorize="hasRole('ROLE_NORMAL')">
									<a class="center" th:href="@{/dialogList}" href="dialogList.html" > Eigene Dialoge</a>
								</li>
								
								<li sec:authorize="hasRole('ROLE_NORMAL')">
									<a class="center" th:href="@{/startDialog}" href="startDialog.html" > Neuer Dialog</a>
								</li>
								
								<li sec:authorize="!isAuthenticated()">
									<a class="center" th:href="@{/new_user}" href="new_user.html"> Registrieren</a>
								</li>
								
								<li sec:authorize="!isAuthenticated()">
									<a class="center" th:href="@{/login}" href="login.html" >Login</a>
								</li>
								
								<li sec:authorize="isAuthenticated()">
									<a class="center" th:href="@{/logout}" type="submit" value="Logout">Logout</a>
								</li>
							</ul>
						</li>
					</ul>

					<!-- Left Nav Section -->
					<ul class="left">
						
					</ul>
				</section>
			</nav>
		</th:block>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>