<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<head>
		<th:block th:include="imports :: head"></th:block>
		<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	</head>
	
	<body>
		<th:blcok th:fragment="reg">
			<div class="reg">
				<div class="row small-uncollapse">
				
					<div class="small-9 columns">
						<h1 class="headline" th:text="${user_createacc_text.text}">Erstelle dein Nutzerkonto</h1>
					</div>
				
					<div class="small-3 columns">
						<label class="link-right"><a th:href="@{/}" onclick="return toggle('reg');" th:text="${login_text.text}">Login.</a></label>
					</div>
					
					<form th:action="@{/create_new_user}" method="post">
					
						<div class="medium-6 small-12 columns">
							<div class="row">

								<div class="small-12 columns">
									<label class="form__label" for="firstnameIN" th:text="${user_firstname_text.text}">Vorname:</label> 
								</div>

								<div class="small-12 columns less_space">				
									<input name="firstnameIN" type="text" required="required" th:value="${firstnameOld}"/>
									<label th:if="${param.EmptyError_firstname}" class="error center space-1rem-topbottom" for="firstnameIN" th:text="${error_empty_text.text}">Firstame must not be empty!</label>
									<label th:if="${param.InvalError_firstname}" class="error center space-1rem-topbottom" for="firstnameIN" th:text="${error_invalid_text.text}">Invalid Firstame!</label>
								</div>
								
								<div class="small-12 columns">
									<label class="form__label" for="nameIN" th:text="${user_lastname_text.text}">Nachname:</label>									
								</div>

								<div class="small-12 columns less_space">
									<input name="nameIN" type="text" required="required" th:value="${nameOld}"/>
									<label th:if="${param.EmptyError_name}" class="error center space-1rem-topbottom" for="nameIN" th:text="${error_empty_text.text}">Name must not be empty!</label>
									<label th:if="${param.InvalError_name}" class="error center space-1rem-topbottom" for="nameIN" th:text="${error_invalid_text.text}">Invalid Name!</label>
								</div>
								
								<div class="small-12 columns">
									<label class="form__label" for="mailIN" th:text="${user_email_text.text}">E-Mail:</label>
								</div>

								<div class="small-12 columns less_space">
									<input name="mailIN" type="email" required="required" minlength="3" maxlength="64" th:value="${mailOld}"/>
									<label th:if="${param.EmptyError_mail}" class="error center space-1rem-topbottom" for="mailIN" th:text="${error_empty_text.text}">Mail must not be empty!</label>
									<label th:if="${param.InvalError_mail}" class="error center space-1rem-topbottom" for="mailIN" th:text="${error_invalid_text.text}">Invalid Mail!</label>
									<label th:if="${param.UsedError_mail}" class="error center space-1rem-topbottom" for="mailIN" th:text="${error_inuse_text.text}">This mail-address is already used!</label>
								</div>
								
								<div class="small-12 columns">
									<label class="form__label" for="usernameIN" th:text="${user_username_text.text}">Nutzername:</label>
								</div>

								<div class="small-12 columns less_space">
									<input name="usernameIN" type="text" required="required" minlength="3" maxlength="16" th:value="${usernameOld}"/>
									<label th:if="${param.EmptyError_username}" class="error center space-1rem-topbottom" for="usernameIN" th:text="${error_empty_text.text}">Username must not be empty!</label>
									<label th:if="${param.InvalError_username}" class="error center space-1rem-topbottom" for="usernameIN" th:text="${error_invalid_text.text}">Invalid Username!</label>
									<label th:if="${param.UsedError_username}" class="error center space-1rem-topbottom" for="usernameIN" th:text="${error_inuse_text.text}">Username already used!</label>
								</div>
								
								<div class="small-12 columns">
									<!--/* Mindestens 8 Zeichen, min 1 Kleinbuchstabe, min 1 Gro&szlig;bruchstabe, min 1 Zahl, min 1 Sonderzeichen Es wird ein Passwort mit 12 oder mehr Zeichen empfohlen. */-->
									<label data-tooltip="" aria-haspopup="true" th:title="${user_passwordreqs_text.text}" 
									title="Mindestens 8 Zeichen, min ein Kleinbuchstaben, min ein Gro&szlig;buchstaben, min eine Zahl und min ein Sonderzeichen."  
									class="has-tip form__label" for="passwordIN" th:text="${login_passwort_text.text}">Passwort:</label>
								</div>

								<div class="small-12 columns less_space">
									<input name="passwordIN" type="password" required="required" minlength="8" maxlength="64"/>
									<label th:if="${param.EmptyError_password}" class="error center space-1rem-topbottom" for="passwordIN" th:text="${error_empty_text.text}">Password must not be empty!</label>
									<label th:if="${param.ShortError_password}" class="error center space-1rem-topbottom" for="passwordIN" th:text="${error_short_text.text}">Password to short! Min 8 chars.</label>
									<label th:if="${param.UnsecError_password}" class="error center space-1rem-topbottom" for="passwordIN" th:text="${error_insecure_text.text}">Password to unsecure!</label>
									<label th:if="${param.InvalError_password}" class="error center space-1rem-topbottom" for="passwordIN" th:text="${error_invalid_text.text}">Invalid Password!</label>
								</div>
								
								<div class="small-12 columns">
									<label class="form__label" for="repasswordIN" th:text="${user_reppassword_text.text}">Wiederhole Passwort:</label>
								</div>
								<div class="small-12 columns less_space">
									<input name="repasswordIN" type="password" required="required" minlength="8" maxlength="64"/>
									<label th:if="${param.EmptyError_repassword}" class="error center space-1rem-topbottom" for="repasswordIN" th:text="${error_empty_text.text}">Password repeating must not be empty!</label>
									<label th:if="${param.NoeqlError_repassword}" class="error center space-1rem-topbottom" for="repasswordIN" th:text="${error_unequal_text.text}">Passwords have not been equal!</label>
									<label th:if="${param.InvalError_repassword}" class="error center space-1rem-topbottom" for="repasswordIN" th:text="${error_invalid_text.text}">Invalid RePassword!</label>
								</div>
								
								<div class="small-12 columns">
									<label for="nativelanguage" class="form__label" th:text="${user_preflang_text.text}">Muttersprache:</label>
								</div>
								<div class="small-12 columns less_space">
									<select id="nativelanguage" name="nativelanguage">
										<option value="-1">---- Select ----</option>
										<option th:each="language : ${languages}"
											th:if="${language.getkennung()} == ${nativelanguageOld}" selected="selected"		
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
										<option th:each="language : ${languages}"
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
									</select>  
									<label th:if="${param.EmptyError_nativelanguage}" class="error center space-1rem-topbottom" for="nativelanguage" th:text="${error_select_text.text}">Select your native language!</label>
									<label th:if="${param.InvalError_nativelanguage}" class="error center space-1rem-topbottom" for="nativelanguage" th:text="${error_invalid_text.text}">Invalid language!</label>
								</div>
								<div class="small-12 columns">
									<label for="otherlanguages" class="form__label" th:text="${user_otherlang_text.text}">2.Sprache:</label>
								</div>
								<div class="small-12 columns less_space">
									<select id="otherlanguages" name="otherlanguages">
										<option value="-1">---- Select ----</option>
										<option th:each="language : ${languages}"
											th:if="${language.getkennung()} == ${language2Old}" selected="selected"		
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
										<option th:each="language : ${languages}"
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
									</select>  
									<label th:if="${param.InvalError_language2}" class="error center space-1rem-topbottom" for="otherlanguages" th:text="${error_invalid_text.text}">Invalid!</label>
								</div>
								<div class="small-12 columns">
									<label for="otherlanguages" class="form__label" th:text="${user_otherlang_text.text}">3.Sprache:</label>
								</div>
								<div class="small-12 columns less_space">
									<select id="otherlanguages" name="otherlanguages">
										<option value="-1">---- Select ----</option>
										<option th:each="language : ${languages}"
											th:if="${language.getkennung()} == ${language3Old}" selected="selected"		
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
										<option th:each="language : ${languages}"
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
									</select>  
									<label th:if="${param.InvalError_language3}" class="error center space-1rem-topbottom" for="otherlanguages" th:text="${error_invalid_text.text}">Invalid!</label>
								</div>
								
								<div class="small-12 columns">
									<label class="form__label" th:text="${user_origin_text.text}">Herkunftsland:</label>
								</div>
								<div class="small-12 columns less_space">
									<select name="origin" >

                                            <option >---- Select ----</option>
                                            <option th:each="country : ${countrys}"
                                            		th:if="${country} == ${originOld}" selected="selected" 
                                            		th:text="${country}"
                                            		>
                                            </option>
                                            <option th:each="country : ${countrys}"
                                            		th:text="${country}"
                                            		>
                                    	</option>                     
                                    </select>
                                    <!--/*   <input name="origin" type="text"/> */-->
                                    <label th:if="${param.EmptyError_origin}" class="error center space-1rem-topbottom" for="origin" th:text="${user_select_text.text}">Select your native country!</label>
									<label th:if="${param.InvalError_origin}" class="error center space-1rem-topbottom" for="origin" th:text="${user_invalid_text.text}">Invalid country!</label>

								</div>
							</div>
						</div>
							
						<div class="medium-6 small-12 columns">
							<div class="row">
								<div class="small-12 columns">
									<h1 class="text-mega" th:text="${user_hometype_text.text}">Wohnungstyp:</h1>
								</div>
								
								<input class="form__input" id="hh" type="radio" name="wohnen" value="helper" checked="" />							
								<label class="form__label" for="hh" th:text="${user_flat_text.text}">Wohnung</label>
								
								<input class="form__input" type="radio" id="fh" name="wohnen" value="refugee" th:checked="${checked2Old}"/>
								<label class="form__label" for="fh" th:text="${user_refugeehome_text.text}">Flüchtlingsheim</label>
								
								<div class="small-12 columns space-05rem"></div>

								<div class="new__user__helper">
									<div class="small-12 columns">
										<label class="form__label" th:text="${user_street_text.text}">Stra&szlig;e:</label>
									</div>
									<div class="small-12 columns less_space">
										<input name="street" type="text" th:value="${streetOld}"/>
										<label th:if="${param.EmptyError_street}" class="error center space-1rem-topbottom" for="street" th:text="${error_empty_text.text}">Streetname must not be empty!</label>
										<label th:if="${param.InvalError_street}" class="error center space-1rem-topbottom" for="street" th:text="${error_invalid_text.text}">Invalid Streetname!</label>
									</div>
									
									<div class="small-12 columns">
										<label class="form__label" th:text="${user_housenr_text.text}">Hausnummer:</label>
									</div>

									<div class="small-12 columns less_space">
										<input name="housenr" type="text" th:value="${housenrOld}"/>
										<label th:if="${param.EmptyError_housenr}" class="error center space-1rem-topbottom" for="housenr" th:text="${error_empty_text.text}">Housenumber must not be empty!</label>
										<label th:if="${param.InvalError_housenr}" class="error center space-1rem-topbottom" for="housenr" th:text="${error_invalid_text.text}">Invalid Housenumber!</label>
									</div>
									
									<div class="small-12 columns">
										<label class="form__label" th:text="${user_zip_text.text}">Postleitzahl:</label>
									</div>

									<div class="small-12 columns less_space">
										<input name="postcode_H" type="number" min="1" max="99999" th:value="${postcodeHOld}"/>
										<label th:if="${param.EmptyError_plzH}" class="error center space-1rem-topbottom" for="postcode_H" th:text="${error_empty_text.text}">Postcode must not be empty!</label>
										<label th:if="${param.InvalError_plzH}" class="error center space-1rem-topbottom" for="postcode_H" th:text="${error_invalid_text.text}">Invalid Postcode!</label>
									</div>
								
									<div class="small-12 columns">
										<label class="form__label" th:text="${user_city_text.text}">Stadt:</label>
									</div>
									<div class="small-12 columns less_space">
										<input name="city_H" type="text" th:value="${cityHOld}"/>
										<label th:if="${param.EmptyError_cityH}" class="error center space-1rem-topbottom" for="city_H" th:text="${error_empty_text.text}">City must not be empty!</label>
										<label th:if="${param.InvalError_cityH}" class="error center space-1rem-topbottom" for="city_H" th:text="${error_invalid_text.text}">Invalid City!</label>
									</div>
								</div>
								
								<div class="new__user__refugee">
									<div class="small-12 columns">
										<label class="form__label" th:text="${user_rhomename_text.text}">Fl&uuml;chtlingsheim Name:</label>
									</div>

									<div class="small-12 columns less_space">
										<input name="flh_name" type="text" th:value="${fhl_nameOld}"/>
										<label th:if="${param.EmptyError_fhl_name}" class="error center space-1rem-topbottom" for="firstnameIN" th:text="${error_empty_text.text}">Fl&uuml;chtlingsheim Name must not be empty!</label>
										<label th:if="${param.InvalError_fhl_name}" class="error center space-1rem-topbottom" for="firstnameIN" th:text="${error_invalid_text.text}">Invalid Fl&uuml;chtlingsheim Name!</label>
									</div>
								
									<div class="small-12 columns">
										<label class="form__label" th:text="${user_zip_text.text}">Postleitzahl:</label>
									</div>

									<div class="small-12 columns less_space">
										<input name="postcode_R" type="number" min="1" max="99999" th:value="${postcodeROld}"/>
										<label th:if="${param.EmptyError_plzR}" class="error center space-1rem-topbottom" for="postcode_R" th:text="${error_empty_text.text}">Postcode must not be empty!</label>
										<label th:if="${param.InvalError_plzR}" class="error center space-1rem-topbottom" for="postcode_R" th:text="${error_invalid_text.text}">Invalid Postcode!</label>
									</div>
								
									<div class="small-12 columns">
										<label class="form__label" th:text="${user_city_text.text}">Stadt:</label>
									</div>

									<div class="small-12 columns less_space">
										<input name="city_R" type="text" th:value="${cityROld}"/>
										<label th:if="${param.EmptyError_cityR}" class="error center space-1rem-topbottom" for="city_R" th:text="${error_empty_text.text}">City must not be empty!</label>
										<label th:if="${param.InvalError_cityR}" class="error center space-1rem-topbottom" for="city_R" th:text="${error_invalid_text.text}">Invalid City!</label>
									</div>
								
									<div class="small-12 columns">
										<label class="form__label" th:text="${user_citypart_text.text}">Stadtteil:</label>
									</div>
									<div class="small-12 columns less_space">
										<input name="citypart" type="text" th:value="${citypartOld}"/>
										<label th:if="${param.EmptyError_citypart}" class="error center space-1rem-topbottom" for="citypart" th:text="${error_empty_text.text}">Citypart must not be empty!</label>
										<label th:if="${param.InvalError_citypart}" class="error center space-1rem-topbottom" for="citypart" th:text="${error_invalid_text.text}">Invalid Citypart!</label>
									</div>
								</div>
							</div>
						</div>

						<div class="medium-6 small-12 columns">
							<div class="row">
								<div class="large-6 small-7 large-uncentered small-centered columns">
										<div class="g-recaptcha" data-sitekey="6LcBYBATAAAAAA3nbmCPoJmKJ9wYNKyia9T93sZC"></div>
								</div>
								<noscript>
									<font color="red" th:text="${user_jscaptcha_text.text}"><b>In Ihrem Browser ist JavaScript deaktiviert. Für die Anzeige des Captcha wird Javascript ben&ouml;tigt.</b></font>
								</noscript>
								<label th:if="${param.EmptyError_captcha}" class="error center space-1rem-topbottom" for="g-recaptcha" th:text="${error_unusedcaptcha_text.text}">Captcha must be used!</label>
								<label th:if="${param.InvalError_captcha}" class="error center space-1rem-topbottom" for="g-recaptcha" th:text="${error_invalid_text.text}">Invalid CaptchaResponse!</label>
							
								<div class="large-6 small-7 large-uncentered small-centered columns">
									<div class="button-right">
										<input class="button" type="submit" value="Create User" th:value="${admin_submit_text.text}" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</th:blcok>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>