<html  xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
		<th:block th:include="navigation :: navigation"></th:block>
	
		<div class="row">
			<div class="large-12 colums">
				<h1 th:text="@{Deine Adresse: &nbsp; } + ${user}"> ADRESS</h1>
				
				<form th:action="@{/submit_userdata2b/user/} + ${user}" method="post">
					<p class="new__user__text">Stra&szlig;e:</p>
					<input name="street" type="text"/>
					
					<p class="new__user__text">Hausnummer:</p>
					<input name="housenr" type="text"/>
					
					<p class="new__user__text">Postleitzahl:</p>
					<input name="postcode" type="text"/>
					
					<p class="new__user__text">Stadt:</p>
					<input name="city" type="text"/>
					
					<input class="button" type="submit" value="OK"/>
				</form>
			</div>
		</div>
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>