<html  xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
		<div th:include="navigation :: navigation"></div>
	
		<form th:action="@{/submit_userdata2b/user/} + ${user}" method="post">
			<h3 th:text="@{(3) Your Adress: &nbsp; } + ${user}"> ADRESS</h3>
			
			<p>Street:</p>
			
			<p>
				<input name="street" type="text"/>
			</p>
			
			<p>Housenumber:</p>
			
			<p>
				<input name="housenr" type="text"/>
			</p>
			
			<p>Postcode:</p>
			
			<p>
				<input name="postcode" type="text"/>
			</p>
			
			<p>City:</p>
			
			<p>
				<input name="city" type="text"/>
			</p>
			
			<input type="submit" value="OK"/>
		</form>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>