<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<head>
		<th:block th:include="imports :: head"></th:block>
		<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	</head>
	
	<body>
		<th:blcok th:fragment="reg">
			<div class="reg">
				<div class="row small-uncollapse">
				
					<div class="small-9 columns">
						<h1 class="headline">Erstelle dein Nutzerkonto</h1>
					</div>
				
					<div class="small-3 columns">
						<label class="link--right"><a th:href="@{/login}" onclick="return toggle('reg');" >Login.</a></label>
					</div>
					
					<form th:action="@{/create_new_user}" method="post">
					
						<div class="medium-6 small-12 columns">
							<div class="row">
								<div class="large-3 small-12 columns">
									<label class="form__label" for="firstnameIN">Vorname:</label> 
								</div>
								<div class="large-9 small-12 columns">				
									<input name="firstnameIN" type="text" required="required"/>
									<label th:if="${param.EmptyError_firstname}" class="error center space--1rem--topbottom" for="firstnameIN">Firstame must not be empty!</label>
									<label th:if="${param.InvalError_firstname}" class="error center space--1rem--topbottom" for="firstnameIN">Invalid Firstame!</label>
								</div>
								
								<div class="large-3 small-12 columns">
									<label class="form__label" for="nameIN">Nachname:</label>									
								</div>
								<div class="large-9 small-12 columns">
									<input name="nameIN" type="text" required="required"/>
									<label th:if="${param.EmptyError_name}" class="error center space--1rem--topbottom" for="nameIN">Name must not be empty!</label>
									<label th:if="${param.InvalError_name}" class="error center space--1rem--topbottom" for="nameIN">Invalid Name!</label>
								</div>
								
								<div class="large-3 small-12 columns">
									<label class="form__label" for="mailIN">E-Mail:</label>
								</div>
								<div class="large-9 small-12 columns">
									<input name="mailIN" type="email" required="required"/>
									<label th:if="${param.EmptyError_mail}" class="error center space--1rem--topbottom" for="mailIN">Mail must not be empty!</label>
									<label th:if="${param.InvalError_mail}" class="error center space--1rem--topbottom" for="mailIN">Invalid Mail!</label>
									<label th:if="${param.UsedError_mail}" class="error center space--1rem--topbottom" for="mailIN">This mail-address is already used!</label>
								</div>
								
								<div class="large-3 small-12 columns">
									<label class="form__label" for="usernameIN">Nutzername:</label>
								</div>
								<div class="large-9 small-12 columns">
									<input name="usernameIN" type="text" required="required"/>
									<label th:if="${param.EmptyError_username}" class="error center space--1rem--topbottom" for="usernameIN">Username must not be empty!</label>
									<label th:if="${param.InvalError_username}" class="error center space--1rem--topbottom" for="usernameIN">Invalid Username!</label>
									<label th:if="${param.UsedError_username}" class="error center space--1rem--topbottom" for="usernameIN">Username already used!</label>
								</div>
								
								<div class="large-3 small-12 columns">
									<!--  Mindestens 8 Zeichen, min 1 Kleinbuchstabe, min 1 Gro&szlig;bruchstabe, min 1 Zahl, min 1 Sonderzeichen Es wird ein Passwort mit 12 oder mehr Zeichen empfohlen. -->
									<label class="form__label" for="passwordIN">Passwort:</label>
								</div>
								<div class="large-9 small-12 columns">
									<input name="passwordIN" type="password" required="required"/>
									<label th:if="${param.EmptyError_password}" class="error center space--1rem--topbottom" for="passwordIN">Password must not be empty!</label>
									<label th:if="${param.ShortError_password}" class="error center space--1rem--topbottom" for="passwordIN">Password to short! Min 8 chars.</label>
									<label th:if="${param.UnsecError_password}" class="error center space--1rem--topbottom" for="passwordIN">Password to unsecure!</label>
								</div>
								
								<div class="large-3 small-12 columns">
									<label class="form__label--paddingOFF" for="repasswordIN">Wiederhole Passwort:</label>
								</div>
								<div class="large-9 small-12 columns">
									<input name="repasswordIN" type="password" required="required"/>
									<label th:if="${param.EmptyError_repassword}" class="error center space--1rem--topbottom" for="repasswordIN">Password repeating must not be empty!</label>
									<label th:if="${param.InvalError_repassword}" class="error center space--1rem--topbottom" for="repasswordIN">Passwords are not equal!</label>
								</div>
								
								<div class="large-3 small-12 columns">
									<label for="nativelanguage" class="form__label">Muttersprache:</label>
								</div>
								<div class="large-9 small-12 columns">
									<select id="nativelanguage" name="nativelanguage">
										<option value="-1">---- Select ----</option>
										<option th:each="language : ${languages}"
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
									</select>  
									<label th:if="${param.EmptyError_nativelanguage}" class="error center space--1rem--topbottom" for="nativelanguage">Select your native language!</label>
									<label th:if="${param.InvalError_nativelanguage}" class="error center space--1rem--topbottom" for="nativelanguage">Invalid language!</label>
								</div>
								<div class="large-3 small-12 columns">
									<label for="otherlanguages" class="form__label">2.Sprache:</label>
								</div>
								<div class="large-9 small-12 columns">
									<select id="otherlanguages" name="otherlanguages">
										<option value="-1">---- Select ----</option>
										<option th:each="language : ${languages}"
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
									</select>  
									<label th:if="${param.InvalError_language2}" class="error center space--1rem--topbottom" for="otherlanguages">Invalid!</label>
								</div>
								<div class="large-3 small-12 columns">
									<label for="otherlanguages" class="form__label">3.Sprache:</label>
								</div>
								<div class="large-9 small-12 columns">
									<select id="otherlanguages" name="otherlanguages">
										<option value="-1">---- Select ----</option>
										<option th:each="language : ${languages}"
											th:value="${language.getkennung()}"
											th:text="${language.name}">
										</option>
									</select>  
									<label th:if="${param.InvalError_language3}" class="error center space--1rem--topbottom" for="otherlanguages">Invalid!</label>
								</div>
								
								<div class="large-3 small-12 columns">
									<label class="form__label">Herkunftsland:</label>
								</div>
								<div class="large-9 small-12 columns">
									<select name="origin">
                                            <option >---- Select ----</option>
                                            <option th:each="country : ${countrys}"
                                                    th:text="${country}">
                                            </option>
                                        </select>
                                    <!--    <input name="origin" type="text"/> -->
                                    <label th:if="${param.EmptyError_origin}" class="error center space--1rem--topbottom" for="origin">Select your native country!</label>
									<label th:if="${param.InvalError_origin}" class="error center space--1rem--topbottom" for="origin">Invalid country!</label>

								</div>
							</div>
						</div>
						
						<div class="medium-6 small-12 columns">
							<div class="row">
								<div class="small-12 columns">
									<label class="headline--sub">Wohnungstyp:</label>
								</div>
								
								<input class="form__input" id="hh" type="radio" name="wohnen" value="helper" checked=""/>
								<label class="form__label" for="hh">Wohnung</label>
								
								<input class="form__input" type="radio" id="fh" name="wohnen" value="refugee"/>
								<label class="form__label" for="fh">Flüchtlingsheim</label>
								<div class="small-12 columns"></div>
								<div class="new__user__helper">
									<div class="large-3 small-12 columns">
										<label class="form__label">Stra&szlig;e:</label>
									</div>
									<div class="large-9 small-12 columns">
										<input name="street" type="text"/>
										<label th:if="${param.EmptyError_street}" class="error center space--1rem--topbottom" for="street">Streetname must not be empty!</label>
										<label th:if="${param.InvalError_street}" class="error center space--1rem--topbottom" for="street">Invalid Streetname!</label>
									</div>
									
									<div class="large-3 small-12 columns">
										<label class="form__label">Hausnummer:</label>
									</div>
									<div class="large-9 small-12 columns">
										<input name="housenr" type="text"/>
										<label th:if="${param.EmptyError_housenr}" class="error center space--1rem--topbottom" for="housenr">Housenumber must not be empty!</label>
										<label th:if="${param.InvalError_housenr}" class="error center space--1rem--topbottom" for="housenr">Invalid Housenumber!</label>
									</div>
									
									<div class="large-3 small-12 columns">
										<label class="form__label">Postleitzahl:</label>
									</div>
									<div class="large-9 small-12 columns">
										<input name="postcode_H" type="text"/>
										<label th:if="${param.EmptyError_plzH}" class="error center space--1rem--topbottom" for="postcode_H">Postcode must not be empty!</label>
										<label th:if="${param.InvalError_plzH}" class="error center space--1rem--topbottom" for="postcode_H">Invalid Postcode!</label>
									</div>
								
									<div class="large-3 small-12 columns">
										<label class="form__label">Stadt:</label>
									</div>
									<div class="large-9 small-12 columns">
										<input name="city_H" type="text"/>
										<label th:if="${param.EmptyError_cityH}" class="error center space--1rem--topbottom" for="city_H">City must not be empty!</label>
										<label th:if="${param.InvalError_cityH}" class="error center space--1rem--topbottom" for="city_H">Invalid City!</label>
									</div>
								</div>
								
								<div class="new__user__refugee">
									<div class="large-3 small-12 columns">
										<label class="form__label--paddingOFF">Fl&uuml;chtlingsheim Name:</label>
									</div>
									<div class="large-9 small-12 columns">
										<input name="flh_name" type="text"/>
										<label th:if="${param.EmptyError_fhl_name}" class="error center space--1rem--topbottom" for="firstnameIN">Fl&uuml;chtlingsheim Name must not be empty!</label>
										<label th:if="${param.InvalError_fhl_name}" class="error center space--1rem--topbottom" for="firstnameIN">Invalid Fl&uuml;chtlingsheim Name!</label>
									</div>
								
									<div class="large-3 small-12 columns">
										<label class="form__label">Postleitzahl:</label>
									</div>
									<div class="large-9 small-12 columns">
										<input name="postcode_R" type="text"/>
										<label th:if="${param.EmptyError_plzR}" class="error center space--1rem--topbottom" for="postcode_R">Postcode must not be empty!</label>
										<label th:if="${param.InvalError_plzR}" class="error center space--1rem--topbottom" for="postcode_R">Invalid Postcode!</label>
									</div>
								
									<div class="large-3 small-12 columns">
										<label class="form__label">Stadt:</label>
									</div>
									<div class="large-9 small-12 columns">
										<input name="city_R" type="text"/>
										<label th:if="${param.EmptyError_cityR}" class="error center space--1rem--topbottom" for="city_R">City must not be empty!</label>
										<label th:if="${param.InvalError_cityR}" class="error center space--1rem--topbottom" for="city_R">Invalid City!</label>
									</div>
								
									<div class="large-3 small-12 columns">
										<label class="form__label">Stadtteil:</label>
									</div>
									<div class="large-9 small-12 columns">
										<input name="citypart" type="text" />
										<label th:if="${param.EmptyError_citypart}" class="error center space--1rem--topbottom" for="citypart">Citypart must not be empty!</label>
										<label th:if="${param.InvalError_citypart}" class="error center space--1rem--topbottom" for="citypart">Invalid Citypart!</label>
									</div>
								</div>
							</div>
						</div>
					
						<div class="medium-7 small-12 columns">
							<div class="g-recaptcha" data-sitekey="6LcBYBATAAAAAA3nbmCPoJmKJ9wYNKyia9T93sZC"></div>
							<noscript>
      							<font color="red"><b>In Ihrem Browser ist JavaScript deaktiviert. Für die Anzeige des Captcha wird Javascript ben&ouml;tigt.</b></font>
      						</noscript>
      						<label th:if="${param.EmptyError_captcha}" class="error center space--1rem--topbottom" for="g-recaptcha">Captcha must be used!</label>
      						<label th:if="${param.InvalError_captcha}" class="error center space--1rem--topbottom" for="g-recaptcha">Invalid CaptchaResponse!</label>
						</div>
					
						<div class="medium-5 small-12 columns">
							<div class="button--right">
								<input class="button" type="submit" value="Create User" />
							</div>
						</div>
					
					</form>
				</div>
			</div>
		</th:blcok>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>