<html  xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
		<div th:include="navigation :: navigation"></div>
	
		<div class="row">
			<div class="large-12 colums">
				<h1 th:text="@{Deine Sprachen und Herkunft: &nbsp; } + ${user}"> LANGUAGE</h1>
				
				<form th:action="@{/submit_language_origin/user/} + ${user}" method="post">
					<p class="new__user__text">Muttersprache:</p>
					<input name="nativelanguage" type="text"/>
					
					<p class="new__user__text">andere Sprachen:</p>
					<input name="otherlanguages" type="text"/>
					
					<p class="new__user__text">Herkunftsland:</p>
					<select name="origin">
                          <option >---- Select ----</option>
                          <option th:each="country : ${countrys}"
                                  th:text="${country}">
                          </option>
                    </select>
                    <!--    <input name="origin" type="text"/> -->
					
					<input class="button" type="submit" text="Okay" value="OK"/>
				</form>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>