<html  xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action="@{/submit_userdata2a/user/} + ${user}" method="post">
  <h3 th:text="@{(3) Your Adress: &nbsp; } + ${user}"> ADRESS</h3>
  <p>Name of the Flüchstlichsheim:</p>
  <p>
    <input name="flh_name" type="text"/>
  </p>
  <p>Part of City:</p>
  <p>
    <input name="citypart" type="text"/>
  </p>
  <p>Postcode:</p>
  <p>
    <input name="postcode" type="text"/>
  </p>
  <p>City:</p>
  <p>
    <input name="city" type="text"/>
  </p>
  <input type="submit" value="OK"/>
</form>
</body>
</html>