<html  xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<div class="large-12 colums">
				<h1>Erstelle dein Nutzerkonto</h1>
				
				<form action="/create_temp_new_user" method="post">
					<p class="new__user__text">E-Mail:</p>
					<input name="mail" type="text"/>
					
					<p class="new__user__text">Nutzername:</p>
					<input name="username" type="text"/>
					
					<p class="new__user__text">Passwort:</p>
					<input name="password" type="password"/>
					
					<p class="new__user__text">Wiederhole Passwort:</p>
					<input name="repassword" type="password"/>
					
					
					<p> <b th:text="${zufallzahl1} + @{ &nbsp; + &nbsp; } + ${zufallzahl2}">z12 </b></p>
					<p class="new__user__text">Summe:</p>
					<input name="summe" type="text"/>
					
					<input class="button" type="submit" value="Create User" />
				</form>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>