<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
	
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline"> Neuer TextBlock </h1>
			</div>
			
			
				<form class ="row" th:action="@{/newTextBlock}" method="post">
					<div class="medium-8 small-12 columns">
						<input type="text" id="formatString" name="formatString" />
					</div>
					<div class="medium-4 small-12 columns">
						<input class="button" type="submit" value="Submit" /> 
					</div>
				</form>
					
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>