<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <th:block th:include="imports :: head"></th:block>
	</head>

	<body>
			<!--<form th:action="@{/myOfferedGoods}">-->
		<div class="row">
			<div class="12-small columns">
				<h1 class="headline" th:text="${error_nonexistgood_text.text}+${wantedAction}+${error_notyours_text.text}"></h1>
				
				<a th:href="@{/}" th:text="${error_back_text.text}">Go to My offered goods</a>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>