<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <th:block th:include="imports :: head"></th:block>
	</head>

	<body>
		<!--
		<form th:action="@{/myOfferedActivities}">
			<h3 th:text="'The activity you want to '+${wantedAction}+' doesn\' t belong to you.'"></h3>
			<div class="button-right">
				<input class="button" type="submit" value="Go to My offered activities" />
			</div>
		</form>-->
		
		<div class="row">
			<div class="12-small columns">
				<h1 class="headline" th:text="${error_nonexistact_text.text}+${wantedAction}+${error_notyours_text.text}"></h1>
				
				<a th:href="@{/}" th:text="${error_back_text.text}">Go to My offered activities</a>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>