<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="${item_general_offeredgood_text.text}"> You just offered this good: </h1>
			</div>
			<div class="small-12 columns">
				<div th:include="itemN--large--good :: item"></div>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>