<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
  <head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class = "row">
			
			<div class="small-12 columns space"></div>
			
			<div class="small-12 columns">
				<h1 class="headline" th:text="${item_general_offergood_text.text}">Offer Good</h1>
			</div>
			
			<form th:action="@{/offeredGood}" th:object="${good}" method="post" enctype="multipart/form-data">
				<div class="large-6 small-12 columns">
					<label for="name" class="form__label" th:text="${item_general_name_text.text}">Name</label>
					<input type="text" id="name" name="name"/>
				</div>
				
				<div class="large-6 small-12 columns">
					<label for="description" class="form__label" th:text="${item_general_description_text.text}">Description</label>
					<input type="text" id="description" name="description"/>
				</div>
				
				<div class="large-6 small-12 columns">
					<label for="pict" class="form__label" th:text="${item_general_picture_text.text}">Picture</label>
					<input type="file" id="pict" name="pict"/> 
				</div>
				
				<div class="large-6 small-12 columns">
					<label for="tagId" class="form__label" th:text="${item_general_tag_text.text}">Tags</label>
					
					<select id="tagId" name="tagId">
						<option value="-1">---- Select ----</option>
						<option th:each="tag : ${tags}"
								th:value="${tag.id}"
								th:text="${tag.name}">
						</option>
					</select>  
				</div>
				
				<div class="small-12 columns">
					<input class="button" type="submit" value="Offer" th:value="${admin_submit_text.text}"/>
				</div>
			</form>		
			
		</div>
		
		<th:block th:include="imports :: script"></th:block>

    </body>
</html>