<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>

	<body>
		<div th:include="navigation :: navigation"></div>

		<div class = "row">
			<div class="small-12 columns space"></div>
			
			<div class="small-12 columns">
				<h1 class="headline" th:text="${item_general_offeract_text.text}">Offer Activity</h1>
			</div>
			
			<form th:action="@{/offeredActivity}" th:object="${activity}" method="post" enctype="multipart/form-data">
				<div class="large-6 small-12 columns">
					<label for="name" class="form__label" th:text="${item_general_name_text.text}">Name</label> 
					<input type="text" id="name" name="name"/>
				</div>

				<div class="large-6 small-12 columns">
					<label for="description" class="form__label" th:text="${item_general_description_text.text}">Description</label>
					<input type="text" id="description" name="description"/>
				</div>

				<div class="large-6 small-12 columns">
					<label for="pict" class="form__label" th:text="${item_general_picture_text.text}">Picture</label>
					<input type="file" id="pict" name="pict"/> 
				</div>

				<div class="large-6 small-12 columns">
					<label for="tagId" class="form__label" th:text="${item_general_tag_text.text}">Tag</label>
					
					<select id="tagId" name="tagId">
						<option value="-1">---- Select ----</option>
						<option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
					</select>  
				</div>

				<div class="large-6 small-12 columns">
					<label for="startDate" class="form__label" th:text="${item_general_startdate_text.text}">Start date</label>
					<input type="date" id="startDate" name="startDate"/> 
				</div>

				<div class="large-6 small-12 columns">
					<label for="endDate" class="form__label" th:text="${item_general_enddate_text.text}">End date</label>
					<input type="date" id="endDate" name="endDate"/> 
				</div>

				<div class="small-12 columns">
					<input class="button" type="submit" value="Offer" th:value="${admin_submit_text.text}"/>
				</div>
			</form>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
    
</html>