<html>

	<head>
		<th:block th:include="imports :: head"></th:block>
		<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	</head>
	
	<body>
	
		<h1>reCAPTCHA</h1>
		<h3 th:text="@{ (5)  }+${user}+@{ submit this CAPTCHA for getting your activationlink with mail: &nbsp; }"> CAPTCHA</h3>
		
		<form th:action="@{/submit_captcha/user/} + ${user}" method="post">
			<div class="g-recaptcha" data-sitekey="6LcBYBATAAAAAA3nbmCPoJmKJ9wYNKyia9T93sZC"></div>
			
			<br/>
			
			<input type="submit" value="Submit"/>
		</form>
		<th:block th:include="imports :: script"></th:block>
	</body>
	
</html>