<html>

	<head>
		<th:block th:include="imports :: head"></th:block>
		<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	</head>
	
	<body>
	
		<th:block th:include="navigation :: navigation"></th:block>
	
		
		
		<form action="/submit_captcha_restorePW" method="post">
			
			<div class="row">
			
				<div class="small-12 columns">
					<h1 th:text="${user_restpass_text.text}">Passwort zur&uuml;cksetzen</h1>
				</div>
				
				<div class="small-12 columns">	
					<noscript>
						<p class="error" th:text="${user_jscaptcha_text.text}">In Ihrem Browser ist JavaScript deaktiviert. Für die Anzeige des Captcha wird Javascript ben&ouml;tigt.</p>
					</noscript>
				</div>
				
				<div class="small-12 medium-12 large-6 columns">
					<label class="form__label" for="username" th:text="${user_username_text.text}">Nutzername:</label>
				
					<input name="username" type="text"/>
				</div>
				
				<div class="small-12 medium-7 large-4 columns">
					<div class="g-recaptcha" data-sitekey="6LcBYBATAAAAAA3nbmCPoJmKJ9wYNKyia9T93sZC"></div>
				</div>	
				
				<div class="small-7 medium-5 large-2 columns medium-uncentered small-centered">	
					<input class="button" type="submit" value="Submit" th:text="${admin_submit_text.text}"/>
				</div>	
				
			</div>
		</form>
		
		<th:block th:include="imports :: script"></th:block>
		
	</body>
	
</html>