<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		<div class="space"></div>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="${user_searchby_text.text}+${resultParameterType}+': '+${resultParameter}"></h1>
			</div>
			
			<div class="small-12 medium-6 columns">
				<div class="umrandung-nomargin">
					<a th:href="@{/home}" class="headline black" th:text="${item_general_allgoods_text.text}"> All Goods </a>
					<div class="divider-1rem"></div>
					<th:block th:include="itemNContainer--small--goods--1 :: show_items"></th:block>
				</div>
			</div>
			
			<div class="small-12 medium-6 columns">
				<div class="umrandung-nomargin">
					<a class="headline black" th:text="${item_general_allacts_text.text}"> All Activities </a>
					<div class="divider-1rem"></div>
					<th:block th:include="itemNContainer--small--activities--1 :: show_items"></th:block>
				</div>
			</div>
		</div>
		
		
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>