<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		<div class="space"></div>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="'Results found by '+${resultParameterType}+': '+${resultParameter}"></h1>
			</div>
			
			<div class="small-12 medium-6 columns umrandung-nomargin">
				<p th:href="@{/home}" class="headline black"> All Goods </p>
				<div class="divider-1rem"></div>
				<th:block th:include="itemNContainer--small--multi--goods--1 :: show_items"></th:block>
			</div>
			
			<div class="small-12 medium-6 columns umrandung-nomargin">
				<p class="headline black"> All Activities </p>
				<div class="divider-1rem"></div>
				<th:block th:include="itemNContainer--small--multi--activities--1 :: show_items"></th:block>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>