<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
    
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:fragment="searchByTag">
			<form th:action="@{/searchResultsByTag}" method="post">
				<div class="row collapse">
					<div class="large-8 small-9 columns">
						<select name="tagId">
				    		<option value="-1">All</option>
							
				    		<option th:each="tag : ${navTags}"
				            		th:value="${tag.id}"
				            		th:text="${tag.name}">
				    		</option>
						</select>
					</div>
				</div>
				<div class="row collapse">
					<div class="large-8 small-9 columns">
						<select name="distance">
				    		<option value="-1">km</option>
							<option value="5">5km</option>
							<option value="10">10km</option>
							<option value="20">20km</option>
							<option value="30">30km</option>
				    		<option value="50">50km</option>
				    		<option value="100">100km</option>
						</select>
					</div>
					
					<div class="large-4 small-3 columns">
						<input class="alert button expand" type="submit" value="Search" th:text="${nav_search_text.text}"/>
					</div>
					
					<tr th:each="message : ${messages}">
					    <td th:text="${message.id}">1</td>
					    <td><a href="#" th:text="${message.name}">Title ...</a></td>
					</tr>
					

				</div>
			</form>
		</th:block>
		
		<th:block th:include="imports :: script"></th:block>
    </body>
</html>