<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!--/* by Lennart Schmidt */-->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<h1 class="headline" th:text="${template_interface_text.text}">Interface-Übersetzung bearbeiten: </h1>
			<form th:action="@{/changeTemplate/}" method="post">
				<h3 class="headline--sub" th:text="${template_edithead_text.text}">Templates bearbeiten</h3>
				<p th:text="${template_changelang_text.text}">Zu ändernde Sprache</p>
				<select id="changeSprache" name="changeSprache">
					<option th:each="lang : ${language}" th:value="${lang}" th:text="${lang}"></option>
				</select>
				<p th:text="${template_reflang_text.text}">Referenzsprache</p>
				<select id="refSprache" name="refSprache">
					<option value="-1">---</option>
					<option th:each="lang : ${language}" th:value="${lang}" th:text="${lang}"></option>
				</select>
				<p th:text="${template_tempname_text.text}">Template</p>
				<select id="temp" name="temp">
					<option th:each="temp : ${template}" th:value="${temp}" th:text="${temp}"></option>
				</select>
				<input class="button" type="submit" value="Ändern" th:value="${admin_submit_text.text}"/>
			</form>
			<form th:action="@{/newLanguage/}" method="post">
				<h3 class="headline--sub" th:text="${template_newlang_text.text}">Neue Sprache erstellen</h3>
				<p th:text="${item_general_name_text.text}">Name der Sprache (deutsch)</p>
				<input type="text" name="newLang"/>
				<p th:text="${template_langshort_text.text}">Sprachkürzel</p>
				<input type="text" name="newLangShort"/>
				<input class="button" type="submit" value="Erstellen" th:value="${admin_submit_text.text}"/>
			</form>
			
			<form th:action="@{/newTemplate/}" method="post">
				<h3 class="headline--sub" th:text="${template_newtemp_text.text}">Module+Template erstellen</h3>
				<p th:text="${template_modname_text.text}">Modul-Name</p>
				<input type="text" name="modl"/>
				<p th:text="${template_tempname_text.text}">Template-Name</p>
				<input type="text" name="templ"/>
				<input class="button" type="submit" value="Erstellen" th:value="${admin_submit_text.text}"/>
			</form>
			
			<form th:action="@{/newModule/}" method="post">
				<h3 class="headline--sub" th:text="${template_newmod_text.text}">Modul erstellen</h3>
				<p th:text="${template_modname_text.text}">Modul-Name</p>
				<input type="text" name="module"/>
				<p th:text="${template_tempname_text.text}">Template-Name</p>
				<select id="templ" name="templ">
					<option th:each="temp : ${template}" th:value="${temp}" th:text="${temp}"></option>
				</select>
				<input class="button" type="submit" value="Erstellen" th:value="${admin_submit_text.text}"/>
			</form>
			
			<form th:action="@{/deleteTemplate/}" method="post">
				<h3 class="headline--sub" th:text="${template_delmod_text.text}">Module löschen</h3>
				<p th:text="${template_tempname_text.text}">Template</p>
				<select id="temp" name="temp">
					<option th:each="temp : ${template}" th:value="${temp}" th:text="${temp}"></option>
				</select>
				<input class="button" type="submit" value="Weiter" th:value="${admin_submit_text.text}"/>
			</form>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>