<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="imports :: head"></th:block>
</head>

<body>
	<div th:include="navigation :: navigation"></div>

	<div class="row">
		<h2>TextBlockList</h2>
	</div>

	<div class="row">
		<h3>Raw FormatStrings</h3>
		<div th:each="textBlockFormatString : ${textBlocks}">
			<p th:text="${textBlockFormatString}"></p>
		</div>
	</div>
	
	<div class="row">
		<h3>Textblocks as Form</h3>
		<div th:each="textBlockHtmlInputString : ${textBlocksHtmlInput}">
			<p th:utext="${textBlockHtmlInputString}"></p>
		</div>
	</div>

	<th:block th:include="imports :: script"></th:block>
</body>
</html>