<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="imports :: head"></th:block>
</head>

<body>
	<div th:include="navigation :: navigation"></div>

	<div class="row">
		<div class="small-12 columns">
			<h1 class="headline" th:text="${nav_tblocklist.text}">TextBlockList</h1>
		</div>

		<div class="small-12 columns">
			<h2 class="headline-sub" th:text="${nav_rfs_text.text}">Raw FormatStrings</h2>
			<div th:each="textBlockFormatString : ${textBlocks}">
				<p th:text="${textBlockFormatString}" class="text"></p>
			</div>
		</div>

		<div class="small-12 columns">
			<h2 class="headline-sub" th:text="${nav_tbaf_text.text}">Textblocks as Form</h2>
			<div th:each="textBlockHtmlInputString : ${textBlocksHtmlInput}">
				<p th:utext="${textBlockHtmlInputString}" class="text"></p>
			</div>
		</div>
	</div>

	<th:block th:include="imports :: script"></th:block>
</body>
</html>