<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 colums">
				<div class="gooditem__head-single">
					<h1 class="headline">You just updated the activity with this information:</h1>
				</div>
				
				<div th:include="itemN--large--activity :: item"></div>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>