<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
        <div th:include="navigation :: navigation"></div>
		
		<div class = "row">
			<div class = "small-12 columns">
				<div class="create">
					<h1 class="create__title"> Tag </h1>
					
					<form th:action="@{/updatedTag}" th:object="${tag}" method="post">
						<div>
							<label class="create__label"> Name </label>
							<input type="text" name="name" th:value="*{name}"/>
						</div>
						
						<input type="hidden" name="id" th:value="${tag.id}"/>
						
						<div>
							<input class="button" type="submit" value="Update"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<th:block th:include="imports :: script"></th:block>
    </body>
	
</html>