<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
        <div th:include="navigation :: navigation"></div>
		
		<div class = "row">
			<div class = "small-12 columns">
				<div class="create">
					<h1 class="create__title"> Good </h1>
					
					<form th:action="@{/updatedGood}" method="post">
						<div>
							<label class="create__label"> Name: </label>
							<input type="text" name="name" th:value="*{result.name}"/>
						</div>

						<div>
							<label class="create__label"> Description: </label>
							<input type="text" name="description" th:value="*{result.description}"/> 
						</div>
						
						<!--<div> Noch zu überarbeiten. result.picture ist das Bild in Bitform, aber der GoodsManagementController erwartet einen Dateipfad...
							<label class="create__label"> Picture: </label>
							<input type="text" name="picture" th:value="*{result.picture}"/> 
						</div>-->

						<div>
							<label class="create__label"> Tags: </label>
							<select name="tagId">
				    			<option th:value="${result.tag.id}" th:text="${result.tag.name}"></option>
				    			<option th:each="tag : ${tags}"
				            			th:value="${tag.id}"
				            			th:text="${tag.name}">
				    			</option>
							</select>  
						</div>
						
						<input type="hidden" name="id" th:value="${result.id}"/>
						
						<div>
							<input class="button" type="submit" value="Update"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<th:block th:include="imports :: script"></th:block>
    </body>
	
</html>