<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
        <th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="${nav_activity_text.text}"> Activity </h1>
			</div>
				
			<form th:action="@{/updatedActivityByAdmin}" th:object="${activity}" method="post" enctype="multipart/form-data">
				<th:block th:include="updateActivity :: update"></th:block>
			</form>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
    </body>
	
</html>