<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
    <head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
        <th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<div class="small-12 columns">
				<h1 class="headline" th:text="${nav_good_text.text}"> Good </h1>
			</div>
							
			<form th:action="@{/updatedGoodByAdmin}" th:object="${good}" method="post" enctype="multipart/form-data">
				<th:block th:include="update :: update"></th:block>
			</form>	
		</div>
		<th:block th:include="imports :: script"></th:block>
    </body>
</html>