<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<div th:include="navigation :: navigation"></div>
		
		<div class="row">
			<div class="small-12 colums">
				<div class="gooditem-single">
					<div class="gooditem__head-single">
						<h2 class="gooditem__title-single"> You just updated the good with this information: </h2>
					</div>
					
					<div th:include="goods_item-single :: item"></div>
				</div>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>