<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

    <head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
        <div th:include="navigation :: navigation"></div>
		
		<div class = "row">
			<!--/*<div class = "small-12 columns">
				<div class="create">
					<h1 class="create__title"> Good </h1>
					
					<form th:action="@{/updatedGood}" th:object="${good}" method="post">
						<div>
							<label class="create__label"> Name </label>
							<input type="text" name="name" th:value="*{name}"/>
						</div>

						<div>
							<label class="create__label"> Description </label>
							<input type="text" name="description" th:value="*{description}"/> 
						</div>
						
						<div>
							<label class="create__label"> Picture </label>
							<input type="text" name="picture" th:value="*{picture}"/> 
						</div>

						<div>
							<label class="create__label"> Tag </label>
							<select name="tagId">
				    			<option th:value="${good.tag.id}" th:text="${good.tag.name}"></option>
				    			<option th:each="tag : ${tags}"
				            			th:value="${tag.id}"
				            			th:text="${tag.name}">
				    			</option>
							</select>  
						</div>
						
						<input type="hidden" name="id" th:value="${good.id}"/>
						
						<div>
							<input class="button" type="submit" value="Update"/>
						</div>
					</form>
				</div>
			</div>*/-->
			
			<div class="small-12 columns space"></div>
			
			<div class="small-12 columns">
				<h1 class="headline">Good</h1>
			</div>
			
			<form th:action="@{/updatedGood}" method="post">
				<div class="large-1 medium-2 small-12 columns">
					<label for="name" class="form__label">Name</label> 
				</div>
				<div class="large-5 medium-10 small-12 columns">
					<input type="text" id="name" name="name" th:value="*{result.name}"/>
				</div>
				
				
				
				<div class="large-1 medium-2 small-12 columns">
					<label for="tagId" class="form__label">Tags</label>
				</div>
				<div class="large-5 medium-10 small-12 columns">
					<select id="tagId" name="tagId">
						<option th:value="${result.tag.id}" th:text="${result.tag.name}"></option>
						<option th:each="tag : ${tags}"
								th:value="${tag.id}"
								th:text="${tag.name}">
						</option>
					</select>  
				</div>
				
				<div class="large-2 medium-2 small-12 columns">
					<label for="description" class="form__label">Description</label>
				</div>
				<div class="large-10 medium-10 small-12 columns">
					<textarea rows="1" type="text" id="description" name="description" th:text="*{result.description}"/>
				</div>
				
				<input type="hidden" name="id" th:value="${result.id}"/>
				
				<div class="small-12 columns">
					<input class="button" type="submit" value="Offer"/>
				</div>
			</form>
			
			
		</div>
		
		<th:block th:include="imports :: script"></th:block>
    </body>
</html>