<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
	<!-- by Lennart Schmidt -->
	<!--/*
		TODO:
			- 
	*/-->
	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<div class="large-12 colums">
				<div class="userdetail">
					<h1 class="userdetail__headline">Kundenliste</h1>
					
					<div class="userdetail__content">
					
						<div class="userdetail__search">
							<form th:action="@{/searchUser}" method="post">
								<div>
									<div class="row">
										<div class="large-3 small-12 columns">
											<label class="form__label" for="userNameIN">Username:</label>
										</div>
										<div class="large-9 small-12 columns">
											<input name="userNameIN" type="text"/>
										</div>
									</div>
								</div>
								<div class="medium-5 small-12 columns">
									<div class="button-right">
										<input class="button" type="submit" value="Search user" />
									</div>
								</div>
							</form>
						</div>
					
						<div class="error_field" sec:authorize="!hasRole('ROLE_ADMIN')">
							<p class="error__msg">Keine Berechtigung!</p>
							
							<div class="button">
								<a th:href="@{/login}" class="button__link">zum Login</a>
							</div>
						</div>
						
						<table sec:authorize="hasRole('ROLE_ADMIN')">			
							<thead>
								<tr>
									<th>User</th><th>Vorname</th><th>Nachname</th><th>E-Mail</th><th>Adresse</th><th>Herkunft</th><th>Sprache</th><th>Registrierungsdatum</th><th>Aktivierung</th>
								</tr>
							</thead>
							
							<tbody th:remove="all-but-first">
								<tr th:each=" user : ${userDetails}">
									<td><a th:href="@{/viewUser?userNameIN=}+${user.userAccount.username}" th:text="${user.userAccount.username}">User</a></td>
									<td th:text="${user.userAccount.firstname}">Hans</td>
									<td th:text="${user.userAccount.lastname}">Mueller</td>
									<td th:text="${user.userAccount.email}">xyz</td>
									<td th:text="${user.location.getLocation()}">Adresse</td>
									<td th:text="${user.getOrigin()}">Herkunft</td>
									<td th:text="${user.getPrefLanguage()}">Sprache</td>
									<td th:text="${user.getRegistrationdate()}">rdate</td>
									<td th:text="${user.isActivated()}">activation_state</td>
									<td><a th:href="@{/modify/user/{path}(path=${user.getUserAccount().getUsername()})}">Bearbeiten</a></td>
									<td><a th:href="@{/modifyActivationStateByAdmin/{user}/{action}(user=${user.getUserAccount().getUsername()}, action=${user.getActivationStateOpposite()})}" th:text="${user.getActivationStateOpposite()}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>