<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>
	
	<body>
	
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<div class="large-12 colums">
				<div class="userdetail">
					<h1 class="userdetail__headline">Kundenliste</h1>
					
					<div class="userdetail__content">
					
						<div class="error_field" sec:authorize="!hasRole('ROLE_ADMIN')">
							<p class="error__msg">Keine Berechtigung!</p>
							
							<div class="button">
								<a th:href="@{/login}" class="button__link">zum Login</a>
							</div>
						</div>
						
						<table sec:authorize="hasRole('ROLE_ADMIN')">			
							<thead>
								<tr>
									<th>Vorname</th><th>Nachname</th><th>E-Mail</th><th>Adresse</th><th>Herkunft</th><th>Sprache</th><th>Registrierungsdatum</th><th>Aktivierung</th>
								</tr>
							</thead>
							
							<tbody th:remove="all-but-first">
								<tr th:each=" user : ${userDetails}">
									<td th:text="${user.userAccount.firstname}">Hans</td>
									<td th:text="${user.userAccount.lastname}">Mueller</td>
									<td th:text="${user.userAccount.email}">xyz</td>
									<td th:text="${user.location.getLocation()}">Adresse</td>
									<td th:text="${user.getOrigin()}">Herkunft</td>
									<td th:text="${user.getLanguage()}">Sprache</td>
									<td th:text="${user.getRegistrationdate()}">rdate</td>
									<td th:text="${user.isActivated()}">activation_state</td>
									<td><a th:href="@{/modify}">Bearbeiten</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	
	</body>
	
</html>