<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">	
	<head>
		<th:block th:include="imports :: head"></th:block>
	</head>

	<body>
		<th:block th:include="navigation :: navigation"></th:block>
		
		<div class="row">
			<form action="/" method="post">
				<div class="12-small columns">
					<p class="text"> Validation von Recaptcha erfolgreich</p>
				</div>
				<div class="6-small columns">
					<p class="text">Mail senden:</p>
				</div>
				<div class="6-small columns">
					<input class="button" type="submit" value="Submit"/>
				</div>
			</form>
		</div>
		
		<th:block th:include="imports :: script"></th:block>
	</body>
</html>